In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine

In [2]:
category_silu = pd.read_csv('D://A_thesis/gowalla/out_random/category_silu_workwithtime.csv')

In [3]:
col_val = category_silu["category"].unique()
print(col_val)

['Peets Coffee' 'Victorias Secret' 'AMC Theatre' 'Airport'
 'Alamo Drafthouse Cinema' 'American' 'Antique Hotel' 'Apparel'
 'Apple Store' 'Asian' 'BBQ' 'Bakery' 'Bank & Financial' 'Bar' 'Bike Shop'
 'Bookstore' 'Brewery / Microbrewery' 'Burgers' 'Canal / Waterway'
 'Chipotle' 'Cineplex' 'City Park' 'Coffee Bean and Tea Leaf'
 'Coffee Shop' 'Convention Center' 'Corporate Office' 'Craftsman'
 'Dessert' 'Diner' 'Doughnuts' 'Five Guys Burgers and Fries'
 'Gas & Automotive' 'Grocery' 'Historic Church' 'Home' 'Hospital'
 'Hot Dogs & Sausages' 'Ice Cream' 'Italian' 'Library' 'Live Music'
 'Luxury Hotel' 'Medical School' 'Mexican' 'Middle Eastern' 'Modern Hotel'
 'Monument' 'Other - Architecture' 'Other - Entertainment' 'Other - Food '
 'Other - Street Fare' 'Pizza' 'Pub' 'Regional / State Park' 'Rental Car'
 'Resort' 'Salon & Barbershop' 'Sandwich Shop' 'Sculpture' 'Starbucks'
 'Steakhouse' 'Tacos' 'Thai' 'Tobacco & Cigars' 'Ultra-lounge'
 'Vegetarian / Vegan' 'Warehouse & Industrial' 'Whole Foods'
 'Mens Apparel' 'Bridge' 'Campground' 'Capitol' 'Castle' 'Chalet'
 'Chick-fil-A' 'City Hall' 'Conference' 'Contemporary Church' 'Courthouse'
 'Disc Golf Course' 'Dive Bar' 'Fine Dining' 'Fountain' 'French'
 'Frozen Yogurt' 'Furniture' 'Garden' 'Gate' 'Holiday Inn Express'
 'Lake & Pond' 'Mission' 'Modern' 'Modern Art Museum' 'Motel'
 'Other - Art & Culture' 'Other - Parks ' 'Other - Shopping'
 'Other - Travel & Lodging' 'Other - Zoo' 'Other Sports' 'Pavilion'
 'Playground' 'Plaza / Square' 'Potbelly' 'REI' 'Saloon' 'Scenic Lookout'
 'Seafood' 'Ski & Snowboard Area' 'Sonic' 'Sports & Outdoors' 'Stadium'
 'Subway' 'Tea Room' 'The Home Depot' 'Toys & Games' 'Train Station'
 'University' 'Victorian' 'Walgreens' 'Wings' 'lululemon' 'Lowes'
 'Apartment' 'Arcade' 'Arts' 'Aviary' 'Breakfast' 'Burger King'
 'Camping & Outdoors' 'Church' 'Cinemark Theatre' 'Design Within Reach'
 'Elephants' 'Giraffes' 'High School' 'Historic Landmark' 'IKEA'
 'Interactive > Party' 'Life Time Fitness' 'Lions' 'Mall' 'Museum'
 'Other - Medical' 'Other - Nightlife ' 'Other - Place of Worship'
 'Pet Store' 'Primates' 'Racetrack' 'Reptiles' 'Shoes' 'Skyscraper'
 'South American / Latin' 'Target' 'Theme Park' 'Tigers' 'Veterinarian'
 'Wine & Spirits' 'Zebras' 'Barnes & Noble' 'Farmers Market' 'Golf Course'
 'Paper Goods' 'Tower' 'Walt Disney World Resort' 'McDonalds' 'Antiques'
 'Basketball Court' 'Bowling' 'Candy Store' 'Condo' 'Gallery' 'Mosque'
 'Music' 'Record Store' 'Special Event' 'Sports Bar' 'Sushi' 'Technology'
 'Theatre' 'Urban Outfitters' 'Whataburger' 'Womens Apparel'
 'Health & Fitness' 'LEGO Store' 'Taco Bueno' 'Wine Bar' 'Ice Skating'
 'Disneyland Resort' 'In-N-Out Burger' 'Traditional Art Museum'
 '24 Hour Fitness' 'Arena' 'Best Buy' 'Food & Foodies' 'History Museum'
 'Interactive > Lounge' 'Mediterranean' 'National Park' 'Other - Airport'
 'Terminal' 'Thrift Store' 'Trade/Tech School' 'Doctors Office'
 'Banana Republic' 'Cemetery' 'Duplex' 'FedEx Office' 'Gap'
 'InterContinental Hotel' 'Costco' 'Administration' 'Beach' 'Dog Park'
 'Mellow Mushroom' 'Nature Preserve' 'Nordstrom'
 'Other - College & Education' 'Other - Services' 'Performing Arts'
 'Pool / Waterpark' 'Post Office' 'Street Fare' 'Student Center' 'Temple'
 'Walmart' 'Big Blue Wet Thing' 'Cave' 'Dairy Queen' 'Discount Store'
 'River & Stream' 'Dunkin Donuts' 'AT&T' 'Accessories' 'Aquarium'
 'Asian Food' 'Capital Metro' 'Chocolate' 'Crafts & Creative'
 'Crowne Plaza' 'Department Store' 'Film > Party' 'Nike' 'Running'
 'Soccer Field' 'Zoo' 'Casino' 'Ferry' 'Karaoke' 'Childrens Apparel'
 'Trader Joes' 'Baseball Stadium' 'Bus Station' 'Dancefloor' 'Dentist'
 'Drugstore & Pharmacy' 'Fire Station' 'Four Seasons' 'Gym' 'Hotel'
 'Indian' 'Investor' 'Light Rail' 'Movie Spot' 'Science Museum'
 'Skatepark' 'Snow Cones' 'Tattoo Parlor' 'Hardware Store' 'Old Navy'
 'Soul Food' 'Asian Art Museum' 'Campus Commons' 'H&M' 'Hall' 'Vietnamese'
 'Flower Shop' 'Movie Rental' 'College' 'Farm' 'Lab' 'Law School'
 'Local Sports' 'Rec Center' 'Synagogue' 'Sprint' 'UPS' 'Vineyard'
 'Government' 'Bed & Breakfast' 'Interactive > Panel > ScreenBurn'
 'Krispy Kreme' 'Golf Shop' 'African' 'Exhibit' 'T-Mobile' 'Verizon'
 'Lighthouse' 'Birthday Party' 'Dormitory' 'Pan Pacific' 'Police Station'
 'Holiday Inn' 'Medical' 'Ben & Jerrys'
 'Interactive > Panel > Design & Development'
 'Interactive > Panel > Speakers Series' 'Tram' 'Hostel' 'Soccer Stadium'
 'Hotel Indigo' 'Tim Hortons' 'Wedding' 'Sorority House'
 'American Apparel' 'Party' 'Aquatics' 'Gondola' 'Lifthouse'
 'London Underground' 'Summit' 'Planetarium' 'Skate Shop' 'Frat House'
 'Seattles Best' 'Fish & Chips' 'Interactive > Exhibitor Events'
 'Halfpipe' 'Watch Party' 'Capitol Building' 'Bears' 'Hippos'
 'Place of Worship' 'Baseball Field' 'Staybridge Suites' 'Cause'
 'Dutch Bros. Coffee' 'Glade' 'Ski Shop' 'School' 'Terrain Park'
 'Holiday Festivities' 'Interactive > Keynote' 'Sports'
 'Architecture & Buildings' 'Hotels & Motels' 'Concert' 'Music > Lounge'
 'Candlewood Suites' 'Car2Go' 'Film > Panel' 'RUGBY' 'Meet Up'
 'Tennis Court' 'Football Field' 'Holiday Inn Club Vacations'
 'Interactive > Special Event' 'Shopping' 'Rick Perry for Governor'
 'Town Hall' 'Film > Special Event' 'Music > Party' 'Interactive > Panel'
 'Music > Special Event' 'Campus - Other' 'Republican Event'
 'Volunteering & Service' 'Interactive > Workshop' 'Food']

In [4]:
res = [*set(col_val)]
len(res)

369

In [5]:
category_multilevel_new = pd.DataFrame(columns= res)

category_multilevel_new['userid'] = category_silu['userid'].unique()

In [6]:
category_multilevel_new

,Luxury Hotel,Tram,Warehouse & Industrial,Bus Station,Film > Special Event,Dog Park,Lighthouse,Home,Scenic Lookout,Craftsman,...,Casino,Bowling,BBQ,Lowes,Discount Store,Chipotle,Skyscraper,Canal / Waterway,Burgers,userid
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1292870
2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1531870
2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1645701
2998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1722363
2999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1832376

In [7]:
category_multilevel_new = category_multilevel_new.reindex(sorted(category_multilevel_new.columns), axis=1)

In [8]:
# category_multilevel_new.to_csv('D://A_thesis/gowalla/out_random/category_multilevel_new.csv')

In [9]:
col_val.sort()

In [10]:
category_silu_new = pd.DataFrame()
category_silu_new['userid'] = category_silu.userid.unique()

In [ ]:
category_silu_new.to_csv('D://A_thesis/gowalla/out_random/category_silu_new2.csv')

In [11]:
category_silu_new = pd.read_csv('D://A_thesis/gowalla/out_random/category_silu_new2.csv')

In [12]:
category_silu_new

         Unnamed: 0   userid         category
0                 0        1  24 Hour Fitness
1                 1        1      AMC Theatre
2                 2        1             AT&T
3                 3        1      Accessories
4                 4        1   Administration
...             ...      ...              ...
1106995     1106995  1832376            Wings
1106996     1106996  1832376   Womens Apparel
1106997     1106997  1832376           Zebras
1106998     1106998  1832376              Zoo
1106999     1106999  1832376        lululemon

[1107000 rows x 3 columns]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [13]:
sorted_category_silu = pd.DataFrame(category_silu.sort_values(['userid', 'category'], ascending=[True, True]).reset_index())

In [14]:
sorted_category_silu

,index,Unnamed: 0,userid,category,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
0,2,2,1,AMC Theatre,2,0,2,1,1,0,...,0,1,0,1,1,0,0,1,0,0
1,3,3,1,Airport,46,38,8,12,34,1,...,1,17,14,14,8,3,1,12,14,8
2,4,4,1,Alamo Drafthouse Cinema,5,2,3,4,1,1,...,1,0,0,4,3,1,0,0,0,1
3,5,5,1,American,21,10,11,14,7,0,...,0,4,2,15,14,0,0,3,3,1
4,6,6,1,Antique Hotel,2,1,1,1,1,0,...,0,0,0,2,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174633,174633,174633,1832376,Ultra-lounge,2,0,2,1,1,0,...,0,0,1,1,1,0,0,0,1,0
174634,174634,174634,1832376,Walgreens,8,4,4,4,4,0,...,0,2,1,5,4,0,0,1,2,1
174635,174635,174635,1832376,Warehouse & Industrial,2,1,1,2,0,0,...,0,0,0,2,2,0,0,0,0,0
174636,174636,174636,1832376,Whole Foods,3,3,0,3,0,2,...,2,0,0,1,1,0,2,0,0,0
174637,174637,174637,1832376,Wine & Spirits,2,2,0,1,1,0,...,0,1,0,1,1,0,0,1,0,0

In [15]:
del sorted_category_silu['index']
del sorted_category_silu['Unnamed: 0']

In [16]:
# sorted_category_silu

In [17]:
category_silu_final = pd.concat([category_silu_new,sorted_category_silu])

In [19]:
category_silu_final

,Unnamed: 0,userid,category,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,visit_afternoon,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
0,0.0,1,24 Hour Fitness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,1,AMC Theatre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,1,AT&T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,1,Accessories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,1,Administration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174633,NaN,1832376,Ultra-lounge,2.0,0.0,2.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
174634,NaN,1832376,Walgreens,8.0,4.0,4.0,4.0,4.0,0.0,2.0,...,0.0,2.0,1.0,5.0,4.0,0.0,0.0,1.0,2.0,1.0
174635,NaN,1832376,Warehouse & Industrial,2.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
174636,NaN,1832376,Whole Foods,3.0,3.0,0.0,3.0,0.0,2.0,0.0,...,2.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0
174637,NaN,1832376,Wine & Spirits,2.0,2.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [20]:
del category_silu_final['Unnamed: 0']

In [21]:
sorted_category_silu_final = pd.DataFrame(category_silu_final.sort_values(['userid', 'category'], ascending=[True, True]).reset_index())

In [23]:
sorted_category_silu_final.fillna(0 , inplace = True)

In [24]:
sorted_category_silu_final.to_csv('D://A_thesis/gowalla/out_random/sorted_category_silu_final_workwithtime.csv')

In [25]:
sorted_category_silu_final = sorted_category_silu_final.drop_duplicates(subset=["userid", "category"], keep='last')

In [26]:
sorted_category_silu_final

,index,userid,category,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,visit_afternoon,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
0,0,1,24 Hour Fitness,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,1,AMC Theatre,2.0,0.0,2.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
3,2,1,AT&T,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3,1,Accessories,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4,1,Administration,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281633,1106995,1832376,Wings,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281634,1106996,1832376,Womens Apparel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281635,1106997,1832376,Zebras,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281636,1106998,1832376,Zoo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281637,1106999,1832376,lululemon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
del sorted_category_silu_final['index']

In [28]:
sorted_category_silu_final.to_csv('D://A_thesis/gowalla/out_random/sorted_category_silu_final_drop_duplicate_workwithtime.csv')

In [29]:
sorted_category_silu_final.to_csv('D://A_thesis/gowalla/out_random/final_category_silu_workwithtime.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [30]:
columns_name = sorted_category_silu_final.columns
print(columns_name)

Index(['userid', 'category', 'visit_user_from_cat', 'visit_user_cat_weekday',
       'visit_user_cat_weekend', 'visit_user_cat_AM', 'visit_user_cat_PM',
       'visit_morning', 'visit_afternoon', 'visit_evening', 'visit_night',
       'visit_Monday', 'visit_Tuesday', 'visit_Wednesday', 'visit_Thursday',
       'visit_Friday', 'visit_Saturday', 'visit_Sunday', 'second_mode_morning',
       'second_mode_afternoon', 'second_mode_evening', 'second_mode_night',
       'third_mode_time_0-3', 'third_mode_time_4-7', 'third_mode_time_8-11',
       'third_mode_time_12-15', 'third_mode_time_16-19',
       'third_mode_time_20-23'],
      dtype='object')

In [31]:
res2 = [*set(columns_name)]
len(res2)

28

In [32]:
def category(category_name) :
    global sorted_category_silu_final
    df = pd.DataFrame()
     
    user_id = list(sorted_category_silu_final.userid.unique())
    
    for i in range(len(user_id)):
        df=df.append(sorted_category_silu_final[(sorted_category_silu_final['userid'] == user_id[i]) & (sorted_category_silu_final['category'] == category_name) ])
        

        
    return df

In [33]:
category('Airport')

,userid,category,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,visit_afternoon,visit_evening,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
8,1,Airport,46.0,38.0,8.0,12.0,34.0,1.0,17.0,17.0,...,1.0,17.0,14.0,14.0,8.0,3.0,1.0,12.0,14.0,8.0
445,2,Airport,108.0,86.0,22.0,39.0,69.0,16.0,29.0,40.0,...,16.0,29.0,26.0,37.0,18.0,8.0,13.0,20.0,23.0,26.0
920,3,Airport,13.0,12.0,1.0,5.0,8.0,1.0,2.0,6.0,...,1.0,2.0,4.0,6.0,3.0,1.0,1.0,2.0,2.0,4.0
1395,4,Airport,13.0,13.0,0.0,4.0,9.0,1.0,6.0,3.0,...,1.0,6.0,1.0,5.0,2.0,1.0,1.0,4.0,3.0,2.0
1835,5,Airport,32.0,30.0,2.0,13.0,19.0,2.0,9.0,10.0,...,2.0,9.0,3.0,18.0,7.0,4.0,2.0,6.0,5.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279597,1292870,Airport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1280001,1531870,Airport,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
1280387,1645701,Airport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1280796,1722363,Airport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281198,1832376,Airport,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# A['Airport','visit_user_from_cat'] = category('Airport')['visit_user_from_cat']

In [30]:
# A['Airport','visit_user_from_cat']

In [31]:
# A['Airport','visit_user_from_cat'] = list(category('Airport')['visit_user_from_cat'])

In [ ]:
# A['Airport','visit_user_from_cat']

In [34]:
cat_name = category_multilevel_new.columns
cat_name = cat_name.drop(['userid'])

In [35]:
cat_name

Index(['24 Hour Fitness', 'AMC Theatre', 'AT&T', 'Accessories',
       'Administration', 'African', 'Airport', 'Alamo Drafthouse Cinema',
       'American', 'American Apparel',
       ...
       'Wedding', 'Whataburger', 'Whole Foods', 'Wine & Spirits', 'Wine Bar',
       'Wings', 'Womens Apparel', 'Zebras', 'Zoo', 'lululemon'],
      dtype='object', length=369)

In [36]:
cat_name = cat_name.to_list()
cat_name

['24 Hour Fitness',
 'AMC Theatre',
 'AT&T',
 'Accessories',
 'Administration',
 'African',
 'Airport',
 'Alamo Drafthouse Cinema',
 'American',
 'American Apparel',
 'Antique Hotel',
 'Antiques',
 'Apartment',
 'Apparel',
 'Apple Store',
 'Aquarium',
 'Aquatics',
 'Arcade',
 'Architecture & Buildings',
 'Arena',
 'Arts',
 'Asian',
 'Asian Art Museum',
 'Asian Food',
 'Aviary',
 'BBQ',
 'Bakery',
 'Banana Republic',
 'Bank & Financial',
 'Bar',
 'Barnes & Noble',
 'Baseball Field',
 'Baseball Stadium',
 'Basketball Court',
 'Beach',
 'Bears',
 'Bed & Breakfast',
 'Ben & Jerrys',
 'Best Buy',
 'Big Blue Wet Thing',
 'Bike Shop',
 'Birthday Party',
 'Bookstore',
 'Bowling',
 'Breakfast',
 'Brewery / Microbrewery',
 'Bridge',
 'Burger King',
 'Burgers',
 'Bus Station',
 'Campground',
 'Camping & Outdoors',
 'Campus - Other',
 'Campus Commons',
 'Canal / Waterway',
 'Candlewood Suites',
 'Candy Store',
 'Capital Metro',
 'Capitol',
 'Capitol Building',
 'Car2Go',
 'Casino',
 'Castle',
 'Cause',
 'Cave',
 'Cemetery',
 'Chalet',
 'Chick-fil-A',
 'Childrens Apparel',
 'Chipotle',
 'Chocolate',
 'Church',
 'Cinemark Theatre',
 'Cineplex',
 'City Hall',
 'City Park',
 'Coffee Bean and Tea Leaf',
 'Coffee Shop',
 'College',
 'Concert',
 'Condo',
 'Conference',
 'Contemporary Church',
 'Convention Center',
 'Corporate Office',
 'Costco',
 'Courthouse',
 'Crafts & Creative',
 'Craftsman',
 'Crowne Plaza',
 'Dairy Queen',
 'Dancefloor',
 'Dentist',
 'Department Store',
 'Design Within Reach',
 'Dessert',
 'Diner',
 'Disc Golf Course',
 'Discount Store',
 'Disneyland Resort',
 'Dive Bar',
 'Doctors Office',
 'Dog Park',
 'Dormitory',
 'Doughnuts',
 'Drugstore & Pharmacy',
 'Dunkin Donuts',
 'Duplex',
 'Dutch Bros. Coffee',
 'Elephants',
 'Exhibit',
 'Farm',
 'Farmers Market',
 'FedEx Office',
 'Ferry',
 'Film > Panel',
 'Film > Party',
 'Film > Special Event',
 'Fine Dining',
 'Fire Station',
 'Fish & Chips',
 'Five Guys Burgers and Fries',
 'Flower Shop',
 'Food',
 'Food & Foodies',
 'Football Field',
 'Fountain',
 'Four Seasons',
 'Frat House',
 'French',
 'Frozen Yogurt',
 'Furniture',
 'Gallery',
 'Gap',
 'Garden',
 'Gas & Automotive',
 'Gate',
 'Giraffes',
 'Glade',
 'Golf Course',
 'Golf Shop',
 'Gondola',
 'Government',
 'Grocery',
 'Gym',
 'H&M',
 'Halfpipe',
 'Hall',
 'Hardware Store',
 'Health & Fitness',
 'High School',
 'Hippos',
 'Historic Church',
 'Historic Landmark',
 'History Museum',
 'Holiday Festivities',
 'Holiday Inn',
 'Holiday Inn Club Vacations',
 'Holiday Inn Express',
 'Home',
 'Hospital',
 'Hostel',
 'Hot Dogs & Sausages',
 'Hotel',
 'Hotel Indigo',
 'Hotels & Motels',
 'IKEA',
 'Ice Cream',
 'Ice Skating',
 'In-N-Out Burger',
 'Indian',
 'InterContinental Hotel',
 'Interactive > Exhibitor Events',
 'Interactive > Keynote',
 'Interactive > Lounge',
 'Interactive > Panel',
 'Interactive > Panel > Design & Development',
 'Interactive > Panel > ScreenBurn',
 'Interactive > Panel > Speakers Series',
 'Interactive > Party',
 'Interactive > Special Event',
 'Interactive > Workshop',
 'Investor',
 'Italian',
 'Karaoke',
 'Krispy Kreme',
 'LEGO Store',
 'Lab',
 'Lake & Pond',
 'Law School',
 'Library',
 'Life Time Fitness',
 'Lifthouse',
 'Light Rail',
 'Lighthouse',
 'Lions',
 'Live Music',
 'Local Sports',
 'London Underground',
 'Lowes',
 'Luxury Hotel',
 'Mall',
 'McDonalds',
 'Medical',
 'Medical School',
 'Mediterranean',
 'Meet Up',
 'Mellow Mushroom',
 'Mens Apparel',
 'Mexican',
 'Middle Eastern',
 'Mission',
 'Modern',
 'Modern Art Museum',
 'Modern Hotel',
 'Monument',
 'Mosque',
 'Motel',
 'Movie Rental',
 'Movie Spot',
 'Museum',
 'Music',
 'Music > Lounge',
 'Music > Party',
 'Music > Special Event',
 'National Park',
 'Nature Preserve',
 'Nike',
 'Nordstrom',
 'Old Navy',
 'Other - Airport',
 'Other - Architecture',
 'Other - Art & Culture',
 'Other - College & Education',
 'Other - Entertainment',
 'Other - Food ',
 'Other - Medical',
 'Other - Nightlife ',
 'Other - Parks ',
 'Other - Place of Worship',
 'Other - Services',
 'Other - Shopping',
 'Other - Street Fare',
 'Other - Travel & Lodging',
 'Other - Zoo',
 'Other Sports',
 'Pan Pacific',
 'Paper Goods',
 'Party',
 'Pavilion',
 'Peets Coffee',
 'Performing Arts',
 'Pet Store',
 'Pizza',
 'Place of Worship',
 'Planetarium',
 'Playground',
 'Plaza / Square',
 'Police Station',
 'Pool / Waterpark',
 'Post Office',
 'Potbelly',
 'Primates',
 'Pub',
 'REI',
 'RUGBY',
 'Racetrack',
 'Rec Center',
 'Record Store',
 'Regional / State Park',
 'Rental Car',
 'Reptiles',
 'Republican Event',
 'Resort',
 'Rick Perry for Governor',
 'River & Stream',
 'Running',
 'Salon & Barbershop',
 'Saloon',
 'Sandwich Shop',
 'Scenic Lookout',
 'School',
 'Science Museum',
 'Sculpture',
 'Seafood',
 'Seattles Best',
 'Shoes',
 'Shopping',
 'Skate Shop',
 'Skatepark',
 'Ski & Snowboard Area',
 'Ski Shop',
 'Skyscraper',
 'Snow Cones',
 'Soccer Field',
 'Soccer Stadium',
 'Sonic',
 'Sorority House',
 'Soul Food',
 'South American / Latin',
 'Special Event',
 'Sports',
 'Sports & Outdoors',
 'Sports Bar',
 'Sprint',
 'Stadium',
 'Starbucks',
 'Staybridge Suites',
 'Steakhouse',
 'Street Fare',
 'Student Center',
 'Subway',
 'Summit',
 'Sushi',
 'Synagogue',
 'T-Mobile',
 'Taco Bueno',
 'Tacos',
 'Target',
 'Tattoo Parlor',
 'Tea Room',
 'Technology',
 'Temple',
 'Tennis Court',
 'Terminal',
 'Terrain Park',
 'Thai',
 'The Home Depot',
 'Theatre',
 'Theme Park',
 'Thrift Store',
 'Tigers',
 'Tim Hortons',
 'Tobacco & Cigars',
 'Tower',
 'Town Hall',
 'Toys & Games',
 'Trade/Tech School',
 'Trader Joes',
 'Traditional Art Museum',
 'Train Station',
 'Tram',
 'UPS',
 'Ultra-lounge',
 'University',
 'Urban Outfitters',
 'Vegetarian / Vegan',
 'Verizon',
 'Veterinarian',
 'Victorian',
 'Victorias Secret',
 'Vietnamese',
 'Vineyard',
 'Volunteering & Service',
 'Walgreens',
 'Walmart',
 'Walt Disney World Resort',
 'Warehouse & Industrial',
 'Watch Party',
 'Wedding',
 'Whataburger',
 'Whole Foods',
 'Wine & Spirits',
 'Wine Bar',
 'Wings',
 'Womens Apparel',
 'Zebras',
 'Zoo',
 'lululemon']

In [37]:
visit_0 = pd.read_csv('D://A_thesis/gowalla/out_random/visit_0.csv')

In [38]:
count_of_visit_less2000 = pd.DataFrame()
count_of_visit_less2000 = visit_0[visit_0['count_0'] < 2000]

In [39]:
count_of_visit_less2000.reset_index(inplace = True)

In [40]:
count_of_visit_less2000

,level_0,Unnamed: 0,index,category,visit_user_from_cat,count_0
0,6,6,196,Airport,0,884
1,8,8,328,American,0,1005
2,12,12,507,Apartment,0,1686
3,14,14,770,Apple Store,0,1723
4,21,21,977,Asian,0,866
5,25,25,1176,BBQ,0,1882
6,26,26,1229,Bakery,0,1308
7,28,28,1320,Bank & Financial,0,1417
8,29,29,1428,Bar,0,1876
9,42,42,1776,Bookstore,0,1655
10,44,44,1879,Breakfast,0,1821
11,45,45,1940,Brewery / Microbrewery,0,1994
12,46,46,1998,Bridge,0,1630
13,48,48,2137,Burgers,0,1118
14,49,49,2211,Bus Station,0,1980
15,73,73,2947,Cineplex,0,1235
16,75,75,3046,City Park,0,1176
17,77,77,3184,Coffee Shop,0,715
18,84,84,3654,Corporate Office,0,664
19,95,95,4350,Dessert,0,1769
20,96,96,4405,Diner,0,1580
21,98,98,4485,Discount Store,0,1894
22,100,100,4604,Dive Bar,0,1989
23,105,105,4809,Drugstore & Pharmacy,0,1868
24,118,118,5190,Fine Dining,0,1930
25,135,135,5696,Gas & Automotive,0,837
26,143,143,6000,Grocery,0,377
27,149,149,6365,Health & Fitness,0,1722
28,153,153,6601,Historic Landmark,0,1692
29,183,183,7273,Italian,0,1200
30,190,190,7508,Library,0,1943
31,200,200,7900,Luxury Hotel,0,1665
32,201,201,7967,Mall,0,625
33,202,202,8091,McDonalds,0,1547
34,209,209,8329,Mexican,0,1119
35,214,214,8654,Modern Hotel,0,1246
36,231,231,9105,Other - Architecture,0,1802
37,233,233,9253,Other - College & Education,0,1831
38,234,234,9369,Other - Entertainment,0,1792
39,235,235,9438,Other - Food,0,754
40,237,237,9597,Other - Nightlife,0,1861
41,241,241,9812,Other - Shopping,0,1076
42,243,243,9963,Other - Travel & Lodging,0,1823
43,253,253,10298,Pizza,0,1018
44,257,257,10481,Plaza / Square,0,1486
45,263,263,10756,Pub,0,1160
46,277,277,11144,Salon & Barbershop,0,1496
47,279,279,11255,Sandwich Shop,0,1302
48,302,302,11917,Sports & Outdoors,0,1870
49,305,305,12055,Stadium,0,1539
50,306,306,12129,Starbucks,0,1234
51,308,308,12293,Steakhouse,0,1901
52,311,311,12406,Subway,0,1451
53,313,313,12588,Sushi,0,1704
54,318,318,12715,Target,0,1899
55,321,321,12824,Technology,0,1516
56,324,324,12984,Terminal,0,1900
57,340,340,13495,Train Station,0,1527
58,343,343,13776,Ultra-lounge,0,1883

In [41]:
count_of_visit_less2000 = count_of_visit_less2000.drop(columns=['level_0','Unnamed: 0', 'index'])

In [42]:
list_2000 = list(count_of_visit_less2000['category'])

In [43]:
list_2000

['Airport',
 'American',
 'Apartment',
 'Apple Store',
 'Asian',
 'BBQ',
 'Bakery',
 'Bank & Financial',
 'Bar',
 'Bookstore',
 'Breakfast',
 'Brewery / Microbrewery',
 'Bridge',
 'Burgers',
 'Bus Station',
 'Cineplex',
 'City Park',
 'Coffee Shop',
 'Corporate Office',
 'Dessert',
 'Diner',
 'Discount Store',
 'Dive Bar',
 'Drugstore & Pharmacy',
 'Fine Dining',
 'Gas & Automotive',
 'Grocery',
 'Health & Fitness',
 'Historic Landmark',
 'Italian',
 'Library',
 'Luxury Hotel',
 'Mall',
 'McDonalds',
 'Mexican',
 'Modern Hotel',
 'Other - Architecture',
 'Other - College & Education',
 'Other - Entertainment',
 'Other - Food ',
 'Other - Nightlife ',
 'Other - Shopping',
 'Other - Travel & Lodging',
 'Pizza',
 'Plaza / Square',
 'Pub',
 'Salon & Barbershop',
 'Sandwich Shop',
 'Sports & Outdoors',
 'Stadium',
 'Starbucks',
 'Steakhouse',
 'Subway',
 'Sushi',
 'Target',
 'Technology',
 'Terminal',
 'Train Station',
 'Ultra-lounge']

In [44]:
count_category = sorted_category_silu_final.groupby(['category','visit_user_from_cat']).count()
count_category.reset_index(inplace=True)

In [45]:
visit_10 = count_category[count_category['visit_user_from_cat'] <= 10]
visit_10.reset_index(inplace=True)

In [46]:
visit_10

,index,category,visit_user_from_cat,userid,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,visit_afternoon,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
0,0,24 Hour Fitness,0.0,2849,2849,2849,2849,2849,2849,2849,...,2849,2849,2849,2849,2849,2849,2849,2849,2849,2849
1,1,24 Hour Fitness,2.0,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
2,2,24 Hour Fitness,3.0,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
3,3,24 Hour Fitness,4.0,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
4,4,24 Hour Fitness,5.0,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3246,14656,lululemon,3.0,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
3247,14657,lululemon,4.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3248,14658,lululemon,5.0,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
3249,14659,lululemon,6.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3250,14660,lululemon,8.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [47]:
test = sorted_category_silu_final[sorted_category_silu_final['category'] .isin(list_2000)]

In [48]:
test

,userid,category,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_user_cat_AM,visit_user_cat_PM,visit_morning,visit_afternoon,visit_evening,...,second_mode_morning,second_mode_afternoon,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23
8,1,Airport,46.0,38.0,8.0,12.0,34.0,1.0,17.0,17.0,...,1.0,17.0,14.0,14.0,8.0,3.0,1.0,12.0,14.0,8.0
12,1,American,21.0,10.0,11.0,14.0,7.0,0.0,4.0,3.0,...,0.0,4.0,2.0,15.0,14.0,0.0,0.0,3.0,3.0,1.0
17,1,Apartment,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1,Apple Store,9.0,7.0,2.0,2.0,7.0,1.0,0.0,7.0,...,1.0,0.0,4.0,4.0,1.0,1.0,0.0,0.0,2.0,5.0
29,1,Asian,7.0,3.0,4.0,7.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,7.0,7.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1281579,1832376,Target,2.0,2.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1281583,1832376,Technology,2.0,2.0,0.0,0.0,2.0,0.0,2.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1281586,1832376,Terminal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1281604,1832376,Train Station,38.0,38.0,0.0,3.0,35.0,2.0,22.0,13.0,...,2.0,22.0,3.0,11.0,1.0,0.0,2.0,21.0,1.0,13.0
1281608,1832376,Ultra-lounge,2.0,0.0,2.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [49]:
# del A_2000

In [50]:
category = list_2000
time_week = ['visit_user_from_cat', 'visit_user_cat_weekday' , 'visit_user_cat_weekend','visit_Monday', 'visit_Tuesday', 'visit_Wednesday', 'visit_Thursday', 'visit_Friday', 'visit_Saturday', 'visit_Sunday', 'visit_user_cat_AM' , 'visit_user_cat_PM', 'visit_morning', 'visit_afternoon', 'visit_evening' 'visit_night', 'second_mode_morning', 'second_mode_afternoon', 'second_mode_evening', 'second_mode_night', 'third_mode_time_0-3', 'third_mode_time_4-7' , 'third_mode_time_8-11' , 'third_mode_time_12-15' ,'third_mode_time_16-19','third_mode_time_20-23']


col_list = pd.MultiIndex.from_product([category, time_week], names=['category', 'time_week'])
row_list = sorted_category_silu_final['userid'].unique()
A_2000 = pd.DataFrame(sorted_category_silu_final['userid'],row_list ,col_list)

In [51]:
A_2000

category              Airport                                                \
time_week visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
1                         NaN                    NaN                    NaN
2                         NaN                    NaN                    NaN
3                         NaN                    NaN                    NaN
4                         NaN                    NaN                    NaN
5                         NaN                    NaN                    NaN
...                       ...                    ...                    ...
1292870                   NaN                    NaN                    NaN
1531870                   NaN                    NaN                    NaN
1645701                   NaN                    NaN                    NaN
1722363                   NaN                    NaN                    NaN
1832376                   NaN                    NaN                    NaN

category                                                             \
time_week visit_Monday visit_Tuesday visit_Wednesday visit_Thursday
1                  NaN           NaN             NaN            NaN
2                  NaN           NaN             NaN            NaN
3                  NaN           NaN             NaN            NaN
4                  NaN           NaN             NaN            NaN
5                  NaN           NaN             NaN            NaN
...                ...           ...             ...            ...
1292870            NaN           NaN             NaN            NaN
1531870            NaN           NaN             NaN            NaN
1645701            NaN           NaN             NaN            NaN
1722363            NaN           NaN             NaN            NaN
1832376            NaN           NaN             NaN            NaN

category                                            ...        Ultra-lounge  \
time_week visit_Friday visit_Saturday visit_Sunday  ... second_mode_morning
1                  NaN            NaN          NaN  ...                 NaN
2                  NaN            NaN          NaN  ...                 NaN
3                  NaN            NaN          NaN  ...                 NaN
4                  NaN            NaN          NaN  ...                 NaN
5                  NaN            NaN          NaN  ...                 NaN
...                ...            ...          ...  ...                 ...
1292870            NaN            NaN          NaN  ...                 NaN
1531870            NaN            NaN          NaN  ...                 NaN
1645701            NaN            NaN          NaN  ...                 NaN
1722363            NaN            NaN          NaN  ...                 NaN
1832376            NaN            NaN          NaN  ...                 NaN

category                                                               \
time_week second_mode_afternoon second_mode_evening second_mode_night
1                           NaN                 NaN               NaN
2                           NaN                 NaN               NaN
3                           NaN                 NaN               NaN
4                           NaN                 NaN               NaN
5                           NaN                 NaN               NaN
...                         ...                 ...               ...
1292870                     NaN                 NaN               NaN
1531870                     NaN                 NaN               NaN
1645701                     NaN                 NaN               NaN
1722363                     NaN                 NaN               NaN
1832376                     NaN                 NaN               NaN

category                                                                \
time_week third_mode_time_0-3 third_mode_time_4-7 third_mode_time_8-11
1                         NaN                 NaN                  NaN
2                         NaN                 NaN                  NaN
3                         NaN                 NaN                  NaN
4                         NaN                 NaN                  NaN
5                         NaN                 NaN                  NaN
...                       ...                 ...                  ...
1292870                   NaN                 NaN                  NaN
1531870                   NaN                 NaN                  NaN
1645701                   NaN                 NaN                  NaN
1722363                   NaN                 NaN                  NaN
1832376                   NaN                 NaN                  NaN

category
time_week third_mode_time_12-15 third_mode_time_16-19 third_mode_time_20-23
1                           NaN                   NaN                   NaN
2                           NaN                   NaN                   NaN
3                           NaN                   NaN                   NaN
4                           NaN                   NaN                   NaN
5                           NaN                   NaN                   NaN
...                         ...                   ...                   ...
1292870                     NaN                   NaN                   NaN
1531870                     NaN                   NaN                   NaN
1645701                     NaN                   NaN                   NaN
1722363                     NaN                   NaN                   NaN
1832376                     NaN                   NaN                   NaN

[3000 rows x 1475 columns]

In [56]:
# A_2000.reset_index(inplace=True)
# A_2000.rename( columns={'index':'userid'} ,inplace=True)

In [52]:
col_list

MultiIndex([(     'Airport',    'visit_user_from_cat'),
            (     'Airport', 'visit_user_cat_weekday'),
            (     'Airport', 'visit_user_cat_weekend'),
            (     'Airport',           'visit_Monday'),
            (     'Airport',          'visit_Tuesday'),
            (     'Airport',        'visit_Wednesday'),
            (     'Airport',         'visit_Thursday'),
            (     'Airport',           'visit_Friday'),
            (     'Airport',         'visit_Saturday'),
            (     'Airport',           'visit_Sunday'),
            ...
            ('Ultra-lounge',    'second_mode_morning'),
            ('Ultra-lounge',  'second_mode_afternoon'),
            ('Ultra-lounge',    'second_mode_evening'),
            ('Ultra-lounge',      'second_mode_night'),
            ('Ultra-lounge',    'third_mode_time_0-3'),
            ('Ultra-lounge',    'third_mode_time_4-7'),
            ('Ultra-lounge',   'third_mode_time_8-11'),
            ('Ultra-lounge',  'third_mode_time_12-15'),
            ('Ultra-lounge',  'third_mode_time_16-19'),
            ('Ultra-lounge',  'third_mode_time_20-23')],
           names=['category', 'time_week'], length=1475)

In [53]:
A_2000.fillna(0).astype(int)

category              Airport                                                \
time_week visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
1                           0                      0                      0
2                           0                      0                      0
3                           0                      0                      0
4                           0                      0                      0
5                           0                      0                      0
...                       ...                    ...                    ...
1292870                     0                      0                      0
1531870                     0                      0                      0
1645701                     0                      0                      0
1722363                     0                      0                      0
1832376                     0                      0                      0

category                                                             \
time_week visit_Monday visit_Tuesday visit_Wednesday visit_Thursday
1                    0             0               0              0
2                    0             0               0              0
3                    0             0               0              0
4                    0             0               0              0
5                    0             0               0              0
...                ...           ...             ...            ...
1292870              0             0               0              0
1531870              0             0               0              0
1645701              0             0               0              0
1722363              0             0               0              0
1832376              0             0               0              0

category                                            ...        Ultra-lounge  \
time_week visit_Friday visit_Saturday visit_Sunday  ... second_mode_morning
1                    0              0            0  ...                   0
2                    0              0            0  ...                   0
3                    0              0            0  ...                   0
4                    0              0            0  ...                   0
5                    0              0            0  ...                   0
...                ...            ...          ...  ...                 ...
1292870              0              0            0  ...                   0
1531870              0              0            0  ...                   0
1645701              0              0            0  ...                   0
1722363              0              0            0  ...                   0
1832376              0              0            0  ...                   0

category                                                               \
time_week second_mode_afternoon second_mode_evening second_mode_night
1                             0                   0                 0
2                             0                   0                 0
3                             0                   0                 0
4                             0                   0                 0
5                             0                   0                 0
...                         ...                 ...               ...
1292870                       0                   0                 0
1531870                       0                   0                 0
1645701                       0                   0                 0
1722363                       0                   0                 0
1832376                       0                   0                 0

category                                                                \
time_week third_mode_time_0-3 third_mode_time_4-7 third_mode_time_8-11
1                           0                   0                    0
2                           0                   0                    0
3                           0                   0                    0
4                           0                   0                    0
5                           0                   0                    0
...                       ...                 ...                  ...
1292870                     0                   0                    0
1531870                     0                   0                    0
1645701                     0                   0                    0
1722363                     0                   0                    0
1832376                     0                   0                    0

category
time_week third_mode_time_12-15 third_mode_time_16-19 third_mode_time_20-23
1                             0                     0                     0
2                             0                     0                     0
3                             0                     0                     0
4                             0                     0                     0
5                             0                     0                     0
...                         ...                   ...                   ...
1292870                       0                     0                     0
1531870                       0                     0                     0
1645701                       0                     0                     0
1722363                       0                     0                     0
1832376                       0                     0                     0

[3000 rows x 1475 columns]

In [55]:
A_2000 = A_2000.fillna(0).astype(int)

In [56]:
A_2000

category              Airport                                                \
time_week visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
1                           0                      0                      0
2                           0                      0                      0
3                           0                      0                      0
4                           0                      0                      0
5                           0                      0                      0
...                       ...                    ...                    ...
1292870                     0                      0                      0
1531870                     0                      0                      0
1645701                     0                      0                      0
1722363                     0                      0                      0
1832376                     0                      0                      0

category                                                             \
time_week visit_Monday visit_Tuesday visit_Wednesday visit_Thursday
1                    0             0               0              0
2                    0             0               0              0
3                    0             0               0              0
4                    0             0               0              0
5                    0             0               0              0
...                ...           ...             ...            ...
1292870              0             0               0              0
1531870              0             0               0              0
1645701              0             0               0              0
1722363              0             0               0              0
1832376              0             0               0              0

category                                            ...        Ultra-lounge  \
time_week visit_Friday visit_Saturday visit_Sunday  ... second_mode_morning
1                    0              0            0  ...                   0
2                    0              0            0  ...                   0
3                    0              0            0  ...                   0
4                    0              0            0  ...                   0
5                    0              0            0  ...                   0
...                ...            ...          ...  ...                 ...
1292870              0              0            0  ...                   0
1531870              0              0            0  ...                   0
1645701              0              0            0  ...                   0
1722363              0              0            0  ...                   0
1832376              0              0            0  ...                   0

category                                                               \
time_week second_mode_afternoon second_mode_evening second_mode_night
1                             0                   0                 0
2                             0                   0                 0
3                             0                   0                 0
4                             0                   0                 0
5                             0                   0                 0
...                         ...                 ...               ...
1292870                       0                   0                 0
1531870                       0                   0                 0
1645701                       0                   0                 0
1722363                       0                   0                 0
1832376                       0                   0                 0

category                                                                \
time_week third_mode_time_0-3 third_mode_time_4-7 third_mode_time_8-11
1                           0                   0                    0
2                           0                   0                    0
3                           0                   0                    0
4                           0                   0                    0
5                           0                   0                    0
...                       ...                 ...                  ...
1292870                     0                   0                    0
1531870                     0                   0                    0
1645701                     0                   0                    0
1722363                     0                   0                    0
1832376                     0                   0                    0

category
time_week third_mode_time_12-15 third_mode_time_16-19 third_mode_time_20-23
1                             0                     0                     0
2                             0                     0                     0
3                             0                     0                     0
4                             0                     0                     0
5                             0                     0                     0
...                         ...                   ...                   ...
1292870                       0                     0                     0
1531870                       0                     0                     0
1645701                       0                     0                     0
1722363                       0                     0                     0
1832376                       0                     0                     0

[3000 rows x 1475 columns]

In [57]:
A_2000.to_csv('D://A_thesis/gowalla/out_random/A_2000_new_workwithtime.csv')

In [58]:
def category(category_name) :
    global test
    df = pd.DataFrame()
     
    user_id = list(test.userid.unique())
    
    for i in range(len(user_id)):
        df=df.append(test[(test['userid'] == user_id[i]) & (test['category'] == category_name) ])
        

        
    return df

In [59]:
for i in range (len(list_2000)):
    df = pd.DataFrame()
    df = category(list_2000[i])
    A_2000[list_2000[i],'visit_user_from_cat'] = list(df['visit_user_from_cat'])
    A_2000[list_2000[i],'visit_user_cat_weekday'] = list(df['visit_user_cat_weekday'])
    A_2000[list_2000[i],'visit_user_cat_weekend'] = list(df['visit_user_cat_weekend'])
    A_2000[list_2000[i],'visit_Monday'] = list(df['visit_Monday'])
    A_2000[list_2000[i],'visit_Tuesday'] = list(df['visit_Tuesday'])
    A_2000[list_2000[i],'visit_Wednesday'] = list(df['visit_Wednesday'])
    A_2000[list_2000[i],'visit_Thursday'] = list(df['visit_Thursday'])
    A_2000[list_2000[i],'visit_Friday'] = list(df['visit_Friday'])
    A_2000[list_2000[i],'visit_Saturday'] = list(df['visit_Saturday'])
    A_2000[list_2000[i],'visit_Sunday'] = list(df['visit_Sunday'])

In [60]:
A_2000

category              Airport                                                \
time_week visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
1                        46.0                   38.0                    8.0
2                       108.0                   86.0                   22.0
3                        13.0                   12.0                    1.0
4                        13.0                   13.0                    0.0
5                        32.0                   30.0                    2.0
...                       ...                    ...                    ...
1292870                   0.0                    0.0                    0.0
1531870                   2.0                    2.0                    0.0
1645701                   0.0                    0.0                    0.0
1722363                   0.0                    0.0                    0.0
1832376                   0.0                    0.0                    0.0

category                                                             \
time_week visit_Monday visit_Tuesday visit_Wednesday visit_Thursday
1                  8.0           1.0             9.0           12.0
2                 16.0          15.0            20.0           17.0
3                  2.0           1.0             1.0            4.0
4                  2.0           0.0             4.0            4.0
5                  7.0           2.0             7.0            8.0
...                ...           ...             ...            ...
1292870            0.0           0.0             0.0            0.0
1531870            0.0           0.0             0.0            0.0
1645701            0.0           0.0             0.0            0.0
1722363            0.0           0.0             0.0            0.0
1832376            0.0           0.0             0.0            0.0

category                                            ...        Ultra-lounge  \
time_week visit_Friday visit_Saturday visit_Sunday  ... second_mode_morning
1                  8.0            2.0          6.0  ...                   0
2                 18.0            9.0         13.0  ...                   0
3                  4.0            1.0          0.0  ...                   0
4                  3.0            0.0          0.0  ...                   0
5                  6.0            1.0          1.0  ...                   0
...                ...            ...          ...  ...                 ...
1292870            0.0            0.0          0.0  ...                   0
1531870            2.0            0.0          0.0  ...                   0
1645701            0.0            0.0          0.0  ...                   0
1722363            0.0            0.0          0.0  ...                   0
1832376            0.0            0.0          0.0  ...                   0

category                                                               \
time_week second_mode_afternoon second_mode_evening second_mode_night
1                             0                   0                 0
2                             0                   0                 0
3                             0                   0                 0
4                             0                   0                 0
5                             0                   0                 0
...                         ...                 ...               ...
1292870                       0                   0                 0
1531870                       0                   0                 0
1645701                       0                   0                 0
1722363                       0                   0                 0
1832376                       0                   0                 0

category                                                                \
time_week third_mode_time_0-3 third_mode_time_4-7 third_mode_time_8-11
1                           0                   0                    0
2                           0                   0                    0
3                           0                   0                    0
4                           0                   0                    0
5                           0                   0                    0
...                       ...                 ...                  ...
1292870                     0                   0                    0
1531870                     0                   0                    0
1645701                     0                   0                    0
1722363                     0                   0                    0
1832376                     0                   0                    0

category
time_week third_mode_time_12-15 third_mode_time_16-19 third_mode_time_20-23
1                             0                     0                     0
2                             0                     0                     0
3                             0                     0                     0
4                             0                     0                     0
5                             0                     0                     0
...                         ...                   ...                   ...
1292870                       0                     0                     0
1531870                       0                     0                     0
1645701                       0                     0                     0
1722363                       0                     0                     0
1832376                       0                     0                     0

[3000 rows x 1475 columns]

In [61]:
for i in range (len(list_2000)):
    
    df = category(list_2000[i])

    A_2000[list_2000[i],'visit_user_cat_AM'] = list(df['visit_user_cat_AM'])
    A_2000[list_2000[i],'visit_user_cat_PM'] = list(df['visit_user_cat_PM'])
    A_2000[list_2000[i],'visit_morning'] = list(df['visit_morning'])
    A_2000[list_2000[i],'visit_afternoon'] = list(df['visit_afternoon'])
    A_2000[list_2000[i],'visit_evening'] = list(df['visit_evening'])
    A_2000[list_2000[i],'visit_night'] = list(df['visit_night'])
    A_2000[list_2000[i],'second_mode_morning'] = list(df['second_mode_morning'])
    A_2000[list_2000[i],'second_mode_afternoon'] = list(df['second_mode_afternoon'])
    A_2000[list_2000[i],'second_mode_evening'] = list(df['second_mode_evening'])
    A_2000[list_2000[i],'second_mode_night'] = list(df['second_mode_night'])

In [62]:
for i in range (len(list_2000)):
    
    df = category(list_2000[i])
    
    A_2000[list_2000[i],'third_mode_time_0-3'] = list(df['third_mode_time_0-3'])
    A_2000[list_2000[i],'third_mode_time_4-7'] = list(df['third_mode_time_4-7'])
    A_2000[list_2000[i],'third_mode_time_8-11'] = list(df['third_mode_time_8-11'])
    A_2000[list_2000[i],'third_mode_time_12-15'] = list(df['third_mode_time_12-15'])
    A_2000[list_2000[i],'third_mode_time_16-19'] = list(df['third_mode_time_16-19'])
    A_2000[list_2000[i],'third_mode_time_20-23'] = list(df['third_mode_time_20-23'])

In [63]:
A_2000

category              Airport                                                \
time_week visit_user_from_cat visit_user_cat_weekday visit_user_cat_weekend
1                        46.0                   38.0                    8.0
2                       108.0                   86.0                   22.0
3                        13.0                   12.0                    1.0
4                        13.0                   13.0                    0.0
5                        32.0                   30.0                    2.0
...                       ...                    ...                    ...
1292870                   0.0                    0.0                    0.0
1531870                   2.0                    2.0                    0.0
1645701                   0.0                    0.0                    0.0
1722363                   0.0                    0.0                    0.0
1832376                   0.0                    0.0                    0.0

category                                                             \
time_week visit_Monday visit_Tuesday visit_Wednesday visit_Thursday
1                  8.0           1.0             9.0           12.0
2                 16.0          15.0            20.0           17.0
3                  2.0           1.0             1.0            4.0
4                  2.0           0.0             4.0            4.0
5                  7.0           2.0             7.0            8.0
...                ...           ...             ...            ...
1292870            0.0           0.0             0.0            0.0
1531870            0.0           0.0             0.0            0.0
1645701            0.0           0.0             0.0            0.0
1722363            0.0           0.0             0.0            0.0
1832376            0.0           0.0             0.0            0.0

category                                            ...        Target  \
time_week visit_Friday visit_Saturday visit_Sunday  ... visit_evening
1                  8.0            2.0          6.0  ...           0.0
2                 18.0            9.0         13.0  ...           0.0
3                  4.0            1.0          0.0  ...           5.0
4                  3.0            0.0          0.0  ...           0.0
5                  6.0            1.0          1.0  ...           0.0
...                ...            ...          ...  ...           ...
1292870            0.0            0.0          0.0  ...           0.0
1531870            2.0            0.0          0.0  ...           0.0
1645701            0.0            0.0          0.0  ...           0.0
1722363            0.0            0.0          0.0  ...           0.0
1832376            0.0            0.0          0.0  ...           0.0

category                 Technology                  Terminal              \
time_week visit_night visit_evening visit_night visit_evening visit_night
1                 0.0           0.0         0.0           0.0         0.0
2                 0.0           0.0         0.0           0.0         0.0
3                 4.0           0.0         0.0           0.0         0.0
4                 0.0           0.0         0.0           0.0         0.0
5                 1.0           1.0         0.0           0.0         0.0
...               ...           ...         ...           ...         ...
1292870           0.0           0.0         0.0           0.0         0.0
1531870           0.0           0.0         0.0           0.0         0.0
1645701           0.0           1.0         2.0           0.0         0.0
1722363           0.0           0.0         0.0           0.0         0.0
1832376           1.0           0.0         0.0           0.0         0.0

category  Train Station              Ultra-lounge
time_week visit_evening visit_night visit_evening visit_night
1                   0.0         0.0           3.0         8.0
2                   0.0         0.0           7.0         6.0
3                   0.0         0.0          10.0        15.0
4                   0.0         0.0          28.0         5.0
5                   0.0         0.0           2.0        10.0
...                 ...         ...           ...         ...
1292870             4.0         8.0           0.0         0.0
1531870             0.0         0.0           0.0         0.0
1645701             0.0         0.0           0.0         0.0
1722363             1.0         0.0           0.0         0.0
1832376            13.0         1.0           1.0         1.0

[3000 rows x 1593 columns]

In [66]:
A_2000['Airport']

time_week,visit_user_from_cat,visit_user_cat_weekday,visit_user_cat_weekend,visit_Monday,visit_Tuesday,visit_Wednesday,visit_Thursday,visit_Friday,visit_Saturday,visit_Sunday,...,second_mode_evening,second_mode_night,third_mode_time_0-3,third_mode_time_4-7,third_mode_time_8-11,third_mode_time_12-15,third_mode_time_16-19,third_mode_time_20-23,visit_evening,visit_night
1,46.0,38.0,8.0,8.0,1.0,9.0,12.0,8.0,2.0,6.0,...,14.0,14.0,8.0,3.0,1.0,12.0,14.0,8.0,17.0,11.0
2,108.0,86.0,22.0,16.0,15.0,20.0,17.0,18.0,9.0,13.0,...,26.0,37.0,18.0,8.0,13.0,20.0,23.0,26.0,40.0,23.0
3,13.0,12.0,1.0,2.0,1.0,1.0,4.0,4.0,1.0,0.0,...,4.0,6.0,3.0,1.0,1.0,2.0,2.0,4.0,6.0,4.0
4,13.0,13.0,0.0,2.0,0.0,4.0,4.0,3.0,0.0,0.0,...,1.0,5.0,2.0,1.0,1.0,4.0,3.0,2.0,3.0,3.0
5,32.0,30.0,2.0,7.0,2.0,7.0,8.0,6.0,1.0,1.0,...,3.0,18.0,7.0,4.0,2.0,6.0,5.0,8.0,10.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1531870,2.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
1645701,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1722363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1832376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
A_2000 = A_2000.astype(int)

In [68]:
A_2000.reset_index(inplace=True)

In [69]:
A_2000.rename(columns={'index':'userid'} ,inplace=True)

In [70]:
A_2000

category    userid             Airport                         \
time_week          visit_user_from_cat visit_user_cat_weekday
0                1                  46                     38
1                2                 108                     86
2                3                  13                     12
3                4                  13                     13
4                5                  32                     30
...            ...                 ...                    ...
2995       1292870                   0                      0
2996       1531870                   2                      2
2997       1645701                   0                      0
2998       1722363                   0                      0
2999       1832376                   0                      0

category                                                                     \
time_week visit_user_cat_weekend visit_Monday visit_Tuesday visit_Wednesday
0                              8            8             1               9
1                             22           16            15              20
2                              1            2             1               1
3                              0            2             0               4
4                              2            7             2               7
...                          ...          ...           ...             ...
2995                           0            0             0               0
2996                           0            0             0               0
2997                           0            0             0               0
2998                           0            0             0               0
2999                           0            0             0               0

category                                              ...        Target  \
time_week visit_Thursday visit_Friday visit_Saturday  ... visit_evening
0                     12            8              2  ...             0
1                     17           18              9  ...             0
2                      4            4              1  ...             5
3                      4            3              0  ...             0
4                      8            6              1  ...             0
...                  ...          ...            ...  ...           ...
2995                   0            0              0  ...             0
2996                   0            2              0  ...             0
2997                   0            0              0  ...             0
2998                   0            0              0  ...             0
2999                   0            0              0  ...             0

category                 Technology                  Terminal              \
time_week visit_night visit_evening visit_night visit_evening visit_night
0                   0             0           0             0           0
1                   0             0           0             0           0
2                   4             0           0             0           0
3                   0             0           0             0           0
4                   1             1           0             0           0
...               ...           ...         ...           ...         ...
2995                0             0           0             0           0
2996                0             0           0             0           0
2997                0             1           2             0           0
2998                0             0           0             0           0
2999                1             0           0             0           0

category  Train Station              Ultra-lounge
time_week visit_evening visit_night visit_evening visit_night
0                     0           0             3           8
1                     0           0             7           6
2                     0           0            10          15
3                     0           0            28           5
4                     0           0             2          10
...                 ...         ...           ...         ...
2995                  4           8             0           0
2996                  0           0             0           0
2997                  0           0             0           0
2998                  1           0             0           0
2999                 13           1             1           1

[3000 rows x 1594 columns]

In [71]:
A_2000.to_csv('D://A_thesis/gowalla/out_random/A_2000_new_workwithtime.csv')

In [72]:
category_multilevel_new.to_csv('D://A_thesis/gowalla/out_random/category_multilevel_new_workwithtime.csv')