In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine

In [2]:
sorted_category_silu_final = pd.read_csv('D://A_thesis/gowalla/out_random/final_category_silu_workwithtime.csv')

In [3]:
A_2000 = pd.read_csv('D://A_thesis/gowalla/out_random/A_2000_new_workwithtime.csv', header=[0,1])

In [4]:
A_2000

      category             userid             Airport                         \
     time_week Unnamed: 1_level_1 visit_user_from_cat visit_user_cat_weekday
0            0                  1                  46                     38
1            1                  2                 108                     86
2            2                  3                  13                     12
3            3                  4                  13                     13
4            4                  5                  32                     30
...        ...                ...                 ...                    ...
2995      2995            1292870                   0                      0
2996      2996            1531870                   2                      2
2997      2997            1645701                   0                      0
2998      2998            1722363                   0                      0
2999      2999            1832376                   0                      0

                                                                        \
     visit_user_cat_weekend visit_Monday visit_Tuesday visit_Wednesday
0                         8            8             1               9
1                        22           16            15              20
2                         1            2             1               1
3                         0            2             0               4
4                         2            7             2               7
...                     ...          ...           ...             ...
2995                      0            0             0               0
2996                      0            0             0               0
2997                      0            0             0               0
2998                      0            0             0               0
2999                      0            0             0               0

                                  ...        Target                Technology  \
     visit_Thursday visit_Friday  ... visit_evening visit_night visit_evening
0                12            8  ...             0           0             0
1                17           18  ...             0           0             0
2                 4            4  ...             5           4             0
3                 4            3  ...             0           0             0
4                 8            6  ...             0           1             1
...             ...          ...  ...           ...         ...           ...
2995              0            0  ...             0           0             0
2996              0            2  ...             0           0             0
2997              0            0  ...             0           0             1
2998              0            0  ...             0           0             0
2999              0            0  ...             0           1             0

                      Terminal             Train Station              \
     visit_night visit_evening visit_night visit_evening visit_night
0              0             0           0             0           0
1              0             0           0             0           0
2              0             0           0             0           0
3              0             0           0             0           0
4              0             0           0             0           0
...          ...           ...         ...           ...         ...
2995           0             0           0             4           8
2996           0             0           0             0           0
2997           2             0           0             0           0
2998           0             0           0             1           0
2999           0             0           0            13           1

      Ultra-lounge
     visit_evening visit_night
0                3           8
1                7           6
2               10          15
3               28           5
4                2          10
...            ...         ...
2995             0           0
2996             0           0
2997             0           0
2998             0           0
2999             1           1

[3000 rows x 1595 columns]

In [5]:
A_2000.loc[:, (slice(None), 'visit_user_from_cat')]

,Airport,American,Apartment,Apple Store,Asian,BBQ,Bakery,Bank & Financial,Bar,Bookstore,...,Stadium,Starbucks,Steakhouse,Subway,Sushi,Target,Technology,Terminal,Train Station,Ultra-lounge
,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,...,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat,visit_user_from_cat
0,46,21,0,9,7,10,6,2,2,3,...,0,8,10,0,0,0,0,0,0,12
1,108,10,0,17,6,20,13,3,5,0,...,3,26,20,4,0,0,0,0,2,13
2,13,11,8,2,9,12,3,6,0,4,...,0,12,5,0,0,13,0,0,0,29
3,13,13,0,11,4,18,3,4,3,0,...,0,6,0,0,0,0,0,0,0,35
4,32,21,99,23,31,24,5,4,5,9,...,5,12,2,0,14,2,2,0,0,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,2,0,...,2,7,0,10,0,0,2,0,78,0
2996,2,0,0,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
2997,0,0,2,0,6,0,0,8,0,0,...,0,0,0,0,0,0,4,0,0,0
2998,0,2,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,10,0
2999,0,21,0,0,60,0,6,2,0,18,...,9,24,4,10,3,2,2,0,38,2

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [6]:
a = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_Monday', 'visit_Tuesday', 'visit_Wednesday', 'visit_Thursday', 'visit_Friday', 'visit_Saturday', 'visit_Sunday', 'visit_user_cat_AM', 'visit_user_cat_PM'])]
allday_AMPM = pd.DataFrame(a)

In [7]:
allday_AMPM

                 Airport                                             \
     visit_user_from_cat visit_Monday visit_Tuesday visit_Wednesday
0                     46            8             1               9
1                    108           16            15              20
2                     13            2             1               1
3                     13            2             0               4
4                     32            7             2               7
...                  ...          ...           ...             ...
2995                   0            0             0               0
2996                   2            0             0               0
2997                   0            0             0               0
2998                   0            0             0               0
2999                   0            0             0               0

                                                              \
     visit_Thursday visit_Friday visit_Saturday visit_Sunday
0                12            8              2            6
1                17           18              9           13
2                 4            4              1            0
3                 4            3              0            0
4                 8            6              1            1
...             ...          ...            ...          ...
2995              0            0              0            0
2996              0            2              0            0
2997              0            0              0            0
2998              0            0              0            0
2999              0            0              0            0

                                          ...        Ultra-lounge  \
     visit_user_cat_AM visit_user_cat_PM  ... visit_user_from_cat
0                   12                34  ...                  12
1                   39                69  ...                  13
2                    5                 8  ...                  29
3                    4                 9  ...                  35
4                   13                19  ...                  14
...                ...               ...  ...                 ...
2995                 0                 0  ...                   0
2996                 2                 0  ...                   0
2997                 0                 0  ...                   0
2998                 0                 0  ...                   0
2999                 0                 0  ...                   2

                                                                             \
     visit_Monday visit_Tuesday visit_Wednesday visit_Thursday visit_Friday
0               1             1               3              0            3
1               1             5               2              0            2
2               3            10               1              2            0
3               1             3               0              0            1
4               6             1               1              2            1
...           ...           ...             ...            ...          ...
2995            0             0               0              0            0
2996            0             0               0              0            0
2997            0             0               0              0            0
2998            0             0               0              0            0
2999            0             0               0              0            0


     visit_Saturday visit_Sunday visit_user_cat_AM visit_user_cat_PM
0                 0            4                 8                 4
1                 2            1                 6                 7
2                 4            9                15                14
3                 2           28                 5                30
4                 2            1                11                 3
...             ...          ...               ...               ...
2995              0            0                 0                 0
2996              0            0                 0                 0
2997              0            0                 0                 0
2998              0            0                 0                 0
2999              0            2                 1                 1

[3000 rows x 590 columns]

In [8]:
b = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_Monday', 'visit_Tuesday', 'visit_Wednesday', 'visit_Thursday', 'visit_Friday', 'visit_Saturday', 'visit_Sunday', 'visit_morning', 'visit_afternoon', 'visit_evening', 'visit_night'])]
allday_first_mode = pd.DataFrame(b)

In [9]:
c = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_Monday', 'visit_Tuesday', 'visit_Tuesday', 'visit_Wednesday', 'visit_Thursday', 'visit_Friday', 'visit_Saturday', 'visit_Sunday',    'second_mode_morning', 'second_mode_afternoon', 'second_mode_evening', 'second_mode_night'])]
allday_second_mode = pd.DataFrame(c)

In [10]:
d = A_2000.loc[:, (slice(None), ['visit_user_from_cat', 'visit_Monday', 'visit_Tuesday', 'visit_Wednesday',  'visit_Thursday', 'visit_Friday', 'visit_Saturday', 'visit_Sunday', 'third_mode_time_0-3', 'third_mode_time_4-7', 'third_mode_time_8-11', 'third_mode_time_12-15', 'third_mode_time_12-15', 'third_mode_time_16-19', 'third_mode_time_20-23'])]
allday_third_mode = pd.DataFrame(d)

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [11]:
similarity_allday_AMPM = cosine_similarity(allday_AMPM)
similarity_allday_AMPM_df = pd.DataFrame(similarity_allday_AMPM)
similarity_allday_AMPM_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,1.000000,0.972217,0.735911,0.699643,0.906976,0.801815,0.840024,0.481853,0.728068,0.397595,...,0.368959,0.514316,0.183387,0.239772,0.410713,0.132712,0.258239,0.387708,0.050226,0.252820
1,0.972217,1.000000,0.753321,0.739127,0.913499,0.820277,0.825609,0.604531,0.763887,0.418638,...,0.409317,0.480190,0.178122,0.221080,0.441025,0.151473,0.331296,0.389183,0.058162,0.261817
2,0.735911,0.753321,1.000000,0.934465,0.894255,0.921226,0.932198,0.415676,0.406107,0.280711,...,0.533011,0.321732,0.116642,0.136548,0.204121,0.241724,0.468073,0.589692,0.044039,0.159135
3,0.699643,0.739127,0.934465,1.000000,0.853016,0.900858,0.871434,0.503306,0.484891,0.381034,...,0.590967,0.335390,0.140791,0.164290,0.244417,0.261058,0.467926,0.583635,0.044557,0.192533
4,0.906976,0.913499,0.894255,0.853016,1.000000,0.914232,0.923002,0.535891,0.614460,0.397848,...,0.451844,0.453561,0.164848,0.208977,0.317752,0.194728,0.394700,0.517654,0.041013,0.247202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.132712,0.151473,0.241724,0.261058,0.194728,0.190412,0.242217,0.079761,0.072831,0.124084,...,0.335780,0.104610,0.066174,0.136735,0.071961,1.000000,0.190460,0.324713,0.375033,0.363383
2996,0.258239,0.331296,0.468073,0.467926,0.394700,0.395514,0.411331,0.351399,0.224051,0.257608,...,0.436722,0.318556,0.239612,0.188376,0.331481,0.190460,1.000000,0.490235,0.124989,0.172591
2997,0.387708,0.389183,0.589692,0.583635,0.517654,0.496447,0.584058,0.187946,0.185176,0.185001,...,0.583476,0.507259,0.304836,0.149911,0.328387,0.324713,0.490235,1.000000,0.075283,0.223939
2998,0.050226,0.058162,0.044039,0.044557,0.041013,0.089775,0.069046,0.073660,0.127483,0.179212,...,0.195972,0.249151,0.399176,0.269100,0.189088,0.375033,0.124989,0.075283,1.000000,0.267329
2999,0.252820,0.261817,0.159135,0.192533,0.247202,0.271764,0.169674,0.206596,0.306172,0.407567,...,0.188709,0.368927,0.278091,0.236468,0.338724,0.363383,0.172591,0.223939,0.267329,1.000000

In [12]:
similarity_allday_first_mode = cosine_similarity(allday_first_mode)
similarity_allday_first_mode_df = pd.DataFrame(similarity_allday_first_mode)

In [13]:
similarity_allday_second_mode = cosine_similarity(allday_second_mode)
similarity_allday_second_mode_df = pd.DataFrame(similarity_allday_second_mode)

In [14]:
similarity_allday_third_mode = cosine_similarity(allday_third_mode)
similarity_allday_third_mode_df = pd.DataFrame(similarity_allday_third_mode)

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [15]:
similarity_allday_AMPM_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_AMPM.csv')
similarity_allday_first_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_first_mode.csv')
similarity_allday_second_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_second_mode.csv')
similarity_allday_third_mode_df.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_third_mode.csv')

In [16]:
df2_similarity_allday_AMPM = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_AMPM.csv')
df2_similarity_allday_first_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_first_mode.csv')
df2_similarity_week_second_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_second_mode.csv')
df2_similarity_week_third_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_third_mode.csv')

In [17]:
del df2_similarity_allday_AMPM['Unnamed: 0']
del df2_similarity_allday_first_mode['Unnamed: 0']
del df2_similarity_week_second_mode['Unnamed: 0']
del df2_similarity_week_third_mode['Unnamed: 0']

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [18]:
user_id = list(sorted_category_silu_final.userid.unique())
user_id

[1,
 2,
 3,
 4,
 5,
 6,
 12,
 24,
 25,
 26,
 28,
 29,
 33,
 40,
 46,
 60,
 62,
 63,
 67,
 77,
 78,
 88,
 90,
 91,
 92,
 98,
 100,
 104,
 105,
 107,
 108,
 110,
 111,
 114,
 119,
 120,
 131,
 132,
 134,
 145,
 149,
 151,
 152,
 157,
 172,
 188,
 189,
 198,
 202,
 209,
 215,
 221,
 224,
 233,
 238,
 242,
 262,
 270,
 278,
 289,
 321,
 324,
 330,
 341,
 359,
 374,
 421,
 459,
 468,
 578,
 584,
 599,
 604,
 624,
 628,
 632,
 639,
 693,
 702,
 704,
 721,
 756,
 765,
 772,
 774,
 783,
 790,
 803,
 829,
 831,
 847,
 862,
 876,
 888,
 896,
 938,
 940,
 948,
 950,
 1040,
 1056,
 1082,
 1094,
 1117,
 1118,
 1120,
 1124,
 1150,
 1152,
 1159,
 1163,
 1172,
 1189,
 1198,
 1230,
 1245,
 1261,
 1276,
 1290,
 1298,
 1343,
 1348,
 1356,
 1368,
 1452,
 1496,
 1520,
 1564,
 1568,
 1572,
 1578,
 1620,
 1628,
 1639,
 1665,
 1699,
 1722,
 1734,
 1774,
 1790,
 1793,
 1795,
 1856,
 1875,
 1893,
 1903,
 1917,
 2002,
 2003,
 2026,
 2028,
 2045,
 2046,
 2066,
 2112,
 2128,
 2131,
 2152,
 2163,
 2183,
 2214,
 2240,
 2252,
 2254,
 2317,
 2321,
 2330,
 2334,
 2386,
 2410,
 2425,
 2444,
 2447,
 2477,
 2479,
 2542,
 2550,
 2561,
 2566,
 2570,
 2573,
 2587,
 2615,
 2616,
 2629,
 2633,
 2643,
 2681,
 2684,
 2698,
 2701,
 2707,
 2722,
 2735,
 2738,
 2768,
 2782,
 2800,
 2819,
 2825,
 2833,
 2836,
 2839,
 2853,
 2867,
 2887,
 2900,
 2908,
 2915,
 2920,
 2936,
 2940,
 2944,
 2951,
 2958,
 2960,
 2969,
 2973,
 2980,
 2987,
 3001,
 3007,
 3018,
 3023,
 3028,
 3050,
 3054,
 3063,
 3069,
 3070,
 3076,
 3086,
 3087,
 3089,
 3090,
 3099,
 3104,
 3112,
 3115,
 3122,
 3129,
 3130,
 3133,
 3137,
 3172,
 3174,
 3178,
 3183,
 3186,
 3188,
 3191,
 3197,
 3198,
 3201,
 3208,
 3218,
 3221,
 3227,
 3304,
 3310,
 3328,
 3343,
 3355,
 3414,
 3476,
 3496,
 3501,
 3505,
 3507,
 3508,
 3515,
 3516,
 3529,
 3535,
 3598,
 3603,
 3615,
 3616,
 3642,
 3648,
 3661,
 3662,
 3680,
 3707,
 3717,
 3725,
 3727,
 3741,
 3747,
 3755,
 3801,
 3805,
 3832,
 3862,
 3899,
 3902,
 3956,
 3963,
 4035,
 4118,
 4141,
 4166,
 4177,
 4232,
 4267,
 4281,
 4316,
 4325,
 4351,
 4358,
 4380,
 4400,
 4463,
 4517,
 4542,
 4605,
 4634,
 4648,
 4651,
 4657,
 4681,
 4696,
 4755,
 4756,
 4775,
 4782,
 4818,
 4862,
 4865,
 4874,
 4878,
 4885,
 4892,
 4902,
 4904,
 4909,
 4910,
 4922,
 4936,
 4964,
 4968,
 4970,
 4975,
 4981,
 5044,
 5060,
 5073,
 5085,
 5097,
 5100,
 5117,
 5145,
 5153,
 5155,
 5204,
 5218,
 5252,
 5265,
 5339,
 5385,
 5409,
 5436,
 5440,
 5468,
 5550,
 5573,
 5628,
 5632,
 5636,
 5646,
 5649,
 5664,
 5707,
 5717,
 5745,
 5746,
 5749,
 5753,
 5814,
 5829,
 5860,
 5861,
 5885,
 5918,
 5921,
 6001,
 6019,
 6028,
 6032,
 6080,
 6083,
 6146,
 6151,
 6179,
 6190,
 6200,
 6239,
 6252,
 6277,
 6283,
 6303,
 6322,
 6382,
 6405,
 6411,
 6437,
 6460,
 6477,
 6500,
 6518,
 6532,
 6559,
 6581,
 6596,
 6600,
 6605,
 6612,
 6626,
 6646,
 6649,
 6654,
 6739,
 6763,
 6796,
 6808,
 6826,
 6834,
 6865,
 6889,
 6894,
 6913,
 6922,
 6936,
 6947,
 7007,
 7085,
 7116,
 7149,
 7213,
 7256,
 7277,
 7293,
 7360,
 7423,
 7426,
 7431,
 7455,
 7506,
 7512,
 7520,
 7522,
 7532,
 7534,
 7536,
 7587,
 7601,
 7640,
 7648,
 7654,
 7739,
 7788,
 7812,
 7828,
 7845,
 7853,
 7868,
 7870,
 7880,
 7902,
 7916,
 7936,
 7940,
 7967,
 7971,
 7973,
 7982,
 8015,
 8031,
 8033,
 8144,
 8154,
 8189,
 8205,
 8229,
 8244,
 8294,
 8331,
 8352,
 8355,
 8360,
 8361,
 8410,
 8437,
 8443,
 8454,
 8480,
 8496,
 8533,
 8545,
 8616,
 8626,
 8640,
 8644,
 8662,
 8666,
 8681,
 8769,
 8775,
 8809,
 8908,
 9008,
 9046,
 9057,
 9058,
 9094,
 9121,
 9141,
 9142,
 9172,
 9227,
 9269,
 9298,
 9426,
 9463,
 9490,
 9529,
 9545,
 9572,
 9610,
 9614,
 9635,
 9680,
 9707,
 9715,
 9719,
 9751,
 9758,
 9763,
 9768,
 9777,
 9847,
 9849,
 9908,
 9933,
 9979,
 9993,
 9996,
 10006,
 10057,
 10098,
 10099,
 10118,
 10184,
 10203,
 10209,
 10219,
 10224,
 10249,
 10277,
 10279,
 10297,
 10321,
 10335,
 10392,
 10400,
 10414,
 10452,
 10457,
 10463,
 10469,
 10513,
 10550,
 10633,
 10647,
 10648,
 10677,
 10679,
 10684,
 10692,
 10709,
 10720,
 10795,
 10859,
 10861,
 10877,
 10906,
 10937,
 10986,
 11003,
 11036,
 11054,
 11076,
 11081,
 11148,
 11152,
 11168,
 11259,
 11260,
 11302,
 11314,
 11318,
 11319,
 11349,
 11369,
 11394,
 11422,
 11540,
 11581,
 11610,
 11628,
 11699,
 11701,
 11702,
 11710,
 11724,
 11736,
 11815,
 11823,
 11825,
 11860,
 11871,
 11877,
 11878,
 11883,
 11948,
 11998,
 12025,
 12058,
 12070,
 12107,
 12169,
 12178,
 12185,
 12187,
 12209,
 12210,
 12211,
 12264,
 12309,
 12334,
 12347,
 12358,
 12371,
 12382,
 12521,
 12526,
 12530,
 12551,
 12581,
 12586,
 12588,
 12597,
 12608,
 12643,
 12723,
 12805,
 12905,
 12912,
 12954,
 12959,
 12979,
 13008,
 13028,
 13050,
 13119,
 13135,
 13153,
 13165,
 13177,
 13230,
 13247,
 13251,
 13280,
 13285,
 13286,
 13404,
 13415,
 13478,
 13534,
 13548,
 13555,
 13612,
 13638,
 13662,
 13701,
 13704,
 13707,
 13749,
 13800,
 13834,
 13857,
 13859,
 13861,
 13865,
 13888,
 13890,
 13937,
 14037,
 14053,
 14074,
 14130,
 14137,
 14160,
 14162,
 14166,
 14183,
 14189,
 14203,
 14232,
 14298,
 14346,
 14354,
 14366,
 14369,
 14391,
 14557,
 14569,
 14575,
 14585,
 14594,
 14596,
 14602,
 14619,
 14620,
 14627,
 14639,
 14651,
 14714,
 14743,
 14759,
 14764,
 14796,
 14821,
 14859,
 14862,
 14890,
 14891,
 14896,
 14933,
 14980,
 14984,
 14988,
 14998,
 15065,
 15089,
 15107,
 15138,
 15144,
 15149,
 15181,
 15221,
 15223,
 15228,
 15238,
 15239,
 15240,
 15282,
 15291,
 15296,
 15309,
 15334,
 15396,
 15419,
 15426,
 15452,
 15459,
 15467,
 15468,
 15497,
 15530,
 15547,
 15559,
 15583,
 15605,
 15612,
 15638,
 15649,
 15668,
 15671,
 15673,
 15700,
 15706,
 15716,
 15722,
 15730,
 15787,
 15795,
 15804,
 15805,
 15820,
 15828,
 15833,
 15858,
 15883,
 15916,
 15939,
 15946,
 15968,
 16005,
 16039,
 16065,
 16084,
 16118,
 16123,
 16126,
 16128,
 16133,
 16245,
 16258,
 16278,
 16297,
 16303,
 16364,
 16407,
 16428,
 16432,
 16535,
 16540,
 16560,
 16565,
 16576,
 16593,
 16648,
 16676,
 16677,
 16698,
 16745,
 16753,
 16792,
 16854,
 16876,
 16888,
 16891,
 16928,
 16950,
 16957,
 16958,
 16981,
 16982,
 17012,
 17050,
 17057,
 17079,
 17131,
 17183,
 17187,
 17196,
 17255,
 17258,
 17317,
 17327,
 17348,
 17362,
 17401,
 17496,
 17499,
 17502,
 17504,
 17518,
 17526,
 17578,
 17586,
 17587,
 17603,
 17609,
 17631,
 17651,
 17678,
 17712,
 17751,
 17788,
 17796,
 17823,
 17871,
 17932,
 17944,
 17978,
 18010,
 18019,
 18023,
 18035,
 18060,
 18090,
 18109,
 18129,
 18143,
 18188,
 18189,
 18367,
 18374,
 18382,
 18391,
 18395,
 18433,
 18437,
 18444,
 18496,
 18579,
 18583,
 18588,
 18599,
 18601,
 18607,
 18673,
 18675,
 18759,
 18825,
 18839,
 18845,
 18859,
 18931,
 18962,
 19019,
 19072,
 19094,
 19101,
 19109,
 19117,
 19126,
 19131,
 19142,
 19191,
 19199,
 19204,
 19209,
 19220,
 19240,
 19252,
 19257,
 19307,
 19346,
 19352,
 19366,
 19398,
 19406,
 19409,
 19431,
 19462,
 19532,
 19555,
 19576,
 19601,
 19697,
 19744,
 19749,
 19754,
 19762,
 19773,
 19778,
 19842,
 19845,
 19875,
 19907,
 19911,
 19920,
 19933,
 19957,
 19961,
 19999,
 20027,
 20132,
 20163,
 20218,
 20234,
 20289,
 20293,
 20316,
 20425,
 20681,
 20758,
 20760,
 20859,
 20893,
 20909,
 20926,
 20949,
 20954,
 21017,
 21032,
 21131,
 21189,
 21198,
 21244,
 21245,
 21359,
 21505,
 21535,
 21546,
 21583,
 21601,
 21609,
 21641,
 21678,
 21759,
 21848,
 21866,
 21912,
 21917,
 21984,
 22027,
 ...]

In [19]:
cols_to_update = [user_id]
df2_similarity_allday_AMPM.columns = cols_to_update
df2_similarity_allday_first_mode.columns = cols_to_update
df2_similarity_week_second_mode.columns = cols_to_update
df2_similarity_week_third_mode.columns = cols_to_update

In [20]:
df2_similarity_allday_AMPM

,1,2,3,4,5,6,12,24,25,26,...,946153,977939,1128761,1219519,1249830,1292870,1531870,1645701,1722363,1832376
0,1.000000,0.972217,0.735911,0.699643,0.906976,0.801815,0.840024,0.481853,0.728068,0.397595,...,0.368959,0.514316,0.183387,0.239772,0.410713,0.132712,0.258239,0.387708,0.050226,0.252820
1,0.972217,1.000000,0.753321,0.739127,0.913499,0.820277,0.825609,0.604531,0.763887,0.418638,...,0.409317,0.480190,0.178122,0.221080,0.441025,0.151473,0.331296,0.389183,0.058162,0.261817
2,0.735911,0.753321,1.000000,0.934465,0.894255,0.921226,0.932198,0.415676,0.406107,0.280711,...,0.533011,0.321732,0.116642,0.136548,0.204121,0.241724,0.468073,0.589692,0.044039,0.159135
3,0.699643,0.739127,0.934465,1.000000,0.853016,0.900858,0.871434,0.503306,0.484891,0.381034,...,0.590967,0.335390,0.140791,0.164290,0.244417,0.261058,0.467926,0.583635,0.044557,0.192533
4,0.906976,0.913499,0.894255,0.853016,1.000000,0.914232,0.923002,0.535891,0.614460,0.397848,...,0.451844,0.453561,0.164848,0.208977,0.317752,0.194728,0.394700,0.517654,0.041013,0.247202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0.132712,0.151473,0.241724,0.261058,0.194728,0.190412,0.242217,0.079761,0.072831,0.124084,...,0.335780,0.104610,0.066174,0.136735,0.071961,1.000000,0.190460,0.324713,0.375033,0.363383
2996,0.258239,0.331296,0.468073,0.467926,0.394700,0.395514,0.411331,0.351399,0.224051,0.257608,...,0.436722,0.318556,0.239612,0.188376,0.331481,0.190460,1.000000,0.490235,0.124989,0.172591
2997,0.387708,0.389183,0.589692,0.583635,0.517654,0.496447,0.584058,0.187946,0.185176,0.185001,...,0.583476,0.507259,0.304836,0.149911,0.328387,0.324713,0.490235,1.000000,0.075283,0.223939
2998,0.050226,0.058162,0.044039,0.044557,0.041013,0.089775,0.069046,0.073660,0.127483,0.179212,...,0.195972,0.249151,0.399176,0.269100,0.189088,0.375033,0.124989,0.075283,1.000000,0.267329
2999,0.252820,0.261817,0.159135,0.192533,0.247202,0.271764,0.169674,0.206596,0.306172,0.407567,...,0.188709,0.368927,0.278091,0.236468,0.338724,0.363383,0.172591,0.223939,0.267329,1.000000

In [23]:
df2_similarity_allday_AMPM.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_AMPM2.csv')
df2_similarity_allday_first_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_first_mode2.csv')
df2_similarity_week_second_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_second_mode2.csv')
df2_similarity_week_third_mode.to_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_third_mode2.csv')

In [25]:
df2_similarity_allday_AMPM = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_AMPM2.csv')
df2_similarity_allday_first_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_allday_first_mode2.csv')
# df2_similarity_allday_second_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode2.csv')
# df2_similarity_allday_third_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode2.csv')

In [27]:
# del df2_similarity_allday_AMPM['Unnamed: 1']

In [28]:
df2_similarity_allday_AMPM.set_index('userid', inplace=True)
df2_similarity_allday_first_mode.set_index('userid', inplace=True)
# df2_similarity_allday_second_mode.set_index('userid', inplace=True)
# df2_similarity_allday_third_mode.set_index('userid', inplace=True)

In [87]:
df2_similarity_allday_second_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_second_mode2.csv')
df2_similarity_allday_third_mode = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/cosine_week_third_mode2.csv')
df2_similarity_allday_second_mode.set_index('userid', inplace=True)
df2_similarity_allday_third_mode.set_index('userid', inplace=True)

In [29]:
df2_similarity_week_third_mode

,1,2,3,4,5,6,12,24,25,26,...,977939,1128761,1219519,1249830,1292870,1531870,1645701,1722363,1832376,userid.1
userid,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.958009,0.736600,0.713175,0.887822,0.808657,0.853367,0.471956,0.716334,0.400689,...,0.513361,0.174359,0.239998,0.412239,0.143319,0.282243,0.370130,0.048859,0.251733,NaN
2,0.958009,1.000000,0.755530,0.744436,0.913330,0.810912,0.818383,0.608386,0.738436,0.412666,...,0.463715,0.167845,0.238781,0.439558,0.160415,0.357882,0.376518,0.057510,0.258483,NaN
3,0.736600,0.755530,1.000000,0.928801,0.893495,0.911179,0.922296,0.413342,0.402652,0.290180,...,0.308851,0.120670,0.139795,0.204694,0.275028,0.458928,0.581523,0.045217,0.157317,NaN
4,0.713175,0.744436,0.928801,1.000000,0.840042,0.893567,0.880512,0.503590,0.490788,0.382761,...,0.322763,0.139998,0.156355,0.245197,0.266845,0.478815,0.539302,0.045496,0.186732,NaN
5,0.887822,0.913330,0.893495,0.840042,1.000000,0.900274,0.892062,0.539936,0.596526,0.396016,...,0.427991,0.156145,0.218610,0.310721,0.212586,0.397298,0.509718,0.038500,0.244266,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1292870,0.143319,0.160415,0.275028,0.266845,0.212586,0.218701,0.234577,0.074501,0.068735,0.109182,...,0.093160,0.067315,0.131900,0.072929,1.000000,0.193223,0.303347,0.412271,0.408064,NaN
1531870,0.282243,0.357882,0.458928,0.478815,0.397298,0.378282,0.426262,0.403487,0.263136,0.270150,...,0.319390,0.272971,0.189080,0.393244,0.193223,1.000000,0.466210,0.137257,0.172004,NaN
1645701,0.370130,0.376518,0.581523,0.539302,0.509718,0.487906,0.510367,0.176731,0.170050,0.171267,...,0.495359,0.310985,0.148337,0.306751,0.303347,0.466210,1.000000,0.077724,0.203497,NaN
1722363,0.048859,0.057510,0.045217,0.045496,0.038500,0.088635,0.062742,0.075588,0.123559,0.169648,...,0.235917,0.416124,0.267217,0.194110,0.412271,0.137257,0.077724,1.000000,0.268295,NaN
1832376,0.251733,0.258483,0.157317,0.186732,0.244266,0.273066,0.163752,0.207671,0.301172,0.410272,...,0.355268,0.276333,0.234235,0.323070,0.408064,0.172004,0.203497,0.268295,1.000000,NaN

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [30]:
print("the similar users of  user0:")
print((df2_similarity_allday_AMPM['1']).argsort()[2:11] + 1)

the similar users of  user0:
userid
3     2047
4     1326
5     1944
6     2988
12    2361
24    2931
25    1569
26    1513
28    1515
Name: 1, dtype: int64

In [31]:
target_user = '1'
n = 10

user_similarity_threshold = 0.7

similar_users = df2_similarity_allday_AMPM[df2_similarity_allday_AMPM[target_user] > user_similarity_threshold][target_user]
similar_users = similar_users.sort_values(ascending=False)[:n]

print(f'The similar users for user {target_user} are', similar_users)

The similar users for user 1 are userid
1       1.000000
2       0.972217
847     0.966286
3104    0.939652
3496    0.924841
2681    0.923066
6019    0.916416
756     0.914174
5       0.906976
950     0.905631
Name: 1, dtype: float64

In [32]:
fr = pd.DataFrame(similar_users)
fr.reset_index(inplace = True)

In [33]:
fr

   userid         1
0       1  1.000000
1       2  0.972217
2     847  0.966286
3    3104  0.939652
4    3496  0.924841
5    2681  0.923066
6    6019  0.916416
7     756  0.914174
8       5  0.906976
9     950  0.905631

In [34]:
fr_list = list(fr['userid'])
fr_list

[1, 2, 847, 3104, 3496, 2681, 6019, 756, 5, 950]

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [35]:
friendship= pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_final.csv')
friendship_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [36]:
friendship_df_without_threshold_allday = pd.DataFrame()
friendship_df_without_threshold_allday['userid'] = friendship_df['userid']
friendship_df_without_threshold_allday['friend_list'] = friendship_df['friend_list']
friendship_df_without_threshold_allday['fr_n5'] = 0

In [37]:
friendship_df_without_threshold_allday.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold_allday.csv')

In [38]:
friendship_df_without_threshold_allday = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold_allday.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [47]:
friend_df = pd.read_csv('D://A_thesis/gowalla/out_random/second_idea/friend_df.csv')

In [122]:
def friend_recommendation(target_user) :
    n = 41
    similar_users = df2_similarity_allday_third_mode[target_user].sort_values(ascending=False)[:n]
    fr = pd.DataFrame(similar_users)
    fr.reset_index(inplace = True)
    fr_list = list(fr['userid'])
    
    if int(target_user) in fr_list :
        fr_list.remove(int(target_user))
        
    return fr_list

In [110]:
# friend_recommendation('1')

In [123]:
for i in range(len(friendship_df_without_threshold_allday)) :
    friendship_df_without_threshold_allday['fr_n40_third_method_allday'][i] = friend_recommendation(str(friend_df['user'][i]))

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************

In [125]:
friendship_df_without_threshold_allday

,userid,friend_list,fr_n5_AMPM,fr_n10_AMPM,fr_n15_AMPM,fr_n20_AMPM,fr_n25_AMPM,fr_n30_AMPM,fr_n35_AMPM,fr_n40_AMPM,...,fr_n35_second_method_allday,fr_n40_second_method_allday,fr_n5_third_method_allday,fr_n10_third_method_allday,fr_n15_third_method_allday,fr_n20_third_method_allday,fr_n25_third_method_allday,fr_n30_third_method_allday,fr_n35_third_method_allday,fr_n40_third_method_allday
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","[2, 847, 3104, 3496, 2681]","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...","[2, 847, 3104, 3496, 2681, 6019, 756, 5, 950, ...",...,"[2, 847, 6019, 3104, 2681, 756, 3496, 950, 5, ...","[2, 847, 6019, 3104, 2681, 756, 3496, 950, 5, ...","[847, 2, 3104, 3496, 6019]","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95...","[847, 2, 3104, 3496, 6019, 756, 2681, 3133, 95..."
1,2,"[1, 3, 4, 5, 6, 12, 12309, 25, 22554, 2735, 29...","[1, 3496, 847, 3104, 5]","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...","[1, 3496, 847, 3104, 5, 756, 6019, 3221, 110, ...",...,"[1, 5, 6019, 847, 3221, 3104, 756, 61797, 3133...","[1, 5, 6019, 847, 3221, 3104, 756, 61797, 3133...","[1, 5, 847, 3104, 3221]","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617...","[1, 5, 847, 3104, 3221, 3496, 6019, 29040, 617..."
2,3,"[1, 2, 4, 5, 6, 12, 29, 3104, 33, 40, 2131, 10...","[33, 29, 90, 12912, 64929]","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...","[33, 29, 90, 12912, 64929, 11724, 2738, 18188,...",...,"[33, 29, 90, 64929, 74572, 18188, 12912, 83503...","[33, 29, 90, 64929, 74572, 18188, 12912, 83503...","[33, 29, 90, 12912, 18188]","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678...","[33, 29, 90, 12912, 18188, 74572, 83503, 21678..."
3,4,"[1, 2, 3, 5, 6, 12, 24, 25, 29, 3104, 33, 5468...","[3, 29, 33, 6, 90]","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...","[3, 29, 33, 6, 90, 18188, 12, 21678, 74572, 10...",...,"[29, 3, 33, 12, 6, 90, 74572, 5707, 18188, 567...","[29, 3, 33, 12, 6, 90, 74572, 5707, 18188, 567...","[29, 3, 33, 6, 12]","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 21583]","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158...","[29, 3, 33, 6, 12, 5707, 1699, 74572, 90, 2158..."
4,5,"[1, 2, 3, 4, 6, 12, 24, 25, 29, 33, 40, 46, 60...","[29040, 12, 3104, 6, 2]","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...","[29040, 12, 3104, 6, 2, 64929, 3133, 1, 54290,...",...,"[29040, 2, 64929, 1, 3133, 54290, 3104, 3, 12,...","[29040, 2, 64929, 1, 3133, 54290, 3104, 3, 12,...","[29040, 2, 3104, 6, 3]","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29]","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ...","[29040, 2, 3104, 6, 3, 12, 1, 1699, 3133, 29, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,1292870,"[279018, 53849]","[8189, 29334, 103416, 307825, 17499]","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...","[8189, 29334, 103416, 307825, 17499, 97217, 81...",...,"[29334, 8189, 17499, 97217, 81908, 23563, 8480...","[29334, 8189, 17499, 97217, 81908, 23563, 8480...","[17499, 29334, 103416, 8189, 136277]","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38...","[17499, 29334, 103416, 8189, 136277, 97217, 38..."
2996,1531870,"[40, 151, 499871, 8355, 204994, 242, 319801, 8...","[78931, 75270, 282185, 143469, 3201]","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...","[78931, 75270, 282185, 143469, 3201, 3642, 105...",...,"[75270, 242467, 143469, 105, 88298, 78931, 450...","[75270, 242467, 143469, 105, 88298, 78931, 450...","[75270, 143469, 3201, 45047, 78931]","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246...","[75270, 143469, 3201, 45047, 78931, 105, 24246..."
2997,1645701,"[977939, 61986, 16958, 470092, 82366, 129657, ...","[57505, 66653, 71471, 47575, 127504]","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...","[57505, 66653, 71471, 47575, 127504, 86733, 17...",...,"[57505, 66653, 71471, 69356, 47575, 88298, 524...","[57505, 66653, 71471, 69356, 47575, 88298, 524...","[57505, 66653, 71471, 101513, 47575]","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64...","[57505, 66653, 71471, 101513, 47575, 88298, 64..."
2998,1722363,[],"[22182, 27381, 58591, 197017, 244833]","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...","[22182, 27381, 58591, 197017, 244833, 73868, 1...",...,"[22182, 175238, 236160, 109101, 244833, 27381,...","[22182, 175238, 236160, 109101, 244833, 27381,...","[22182, 175238, 236160, 109101, 244833]","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185...","[22182, 175238, 236160, 109101, 244833, 104185..."
2999,1832376,"[3028, 252956]","[2026, 18579, 13701, 39645, 66207]","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...","[2026, 18579, 13701, 39645, 66207, 100417, 270...",...,"[2026, 18579, 13701, 39645, 66207, 98, 2444, 1...","[2026, 18579, 13701, 39645, 66207, 98, 2444, 1...","[2026, 18579, 39645, 13701, 98]","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1...","[2026, 18579, 39645, 13701, 98, 66207, 2643, 1..."

In [126]:
friendship_df_without_threshold_allday.to_csv('D://A_thesis/gowalla/out_random/second_idea/friendship_df_without_threshold_allday.csv')

In [ ]:
                            *****************************************************
                            *****************************************************
                            *****************************************************