In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
from sklearn.metrics.pairwise import cosine_similarity
from scipy.spatial.distance import cosine

In [2]:
friendshipdf_final = pd.read_csv('D://A_thesis/gowalla/out_random/friendship_df_without_threshold.csv')

In [3]:
del friendshipdf_final['Unnamed: 0']

In [4]:
# friendshipdf_final

In [5]:
pre_rec = pd.DataFrame()

In [6]:
user_info = friendshipdf_final.loc[friendshipdf_final['userid'] == 1]

In [7]:
user_info

,userid,friend_list,friend_list_new,fr_n5,fr_n5_new,fr_n10,fr_n10_new,fr_n15,fr_n15_new,fr_n20,fr_n20_new
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 617...","[2, 5, 12, 110, 6]","2, 5, 12, 110, 6","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77]","2, 5, 12, 110, 6, 29, 3, 25, 4, 77","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92..."

In [8]:
user_info['friend_list_new'].values[0]

'2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 6179, 46, 60, 62, 92, 107, 114, 2163, 119, 120, 132, 149, 198, 238, 55541, 4358, 102759, 57718, 2444, 2477, 468, 25096, 16958, 57781, 578, 3516, 2681, 2698, 12954, 2722, 2819, 17183, 74572, 847, 2908, 862, 58215, 876, 4975, 2958, 62484, 3104, 21583, 3201, 3208, 3221, 25818, 6019, 1343, 7512, 3496, 24009, 13800, 13888, 108126, 3741, 1699, 26290, 7880, 7902, 1917, 12169, 6028'

In [9]:
friend_list_new = list(map(int,str(user_info['friend_list_new'].values[0]).split(',')))

In [10]:
# friend_list_new

In [11]:
fr_n5_new = list(map(int,str(user_info['fr_n5_new'].values[0]).split(',')))

In [13]:
eshterak_topn5_friendlist = set(friend_list_new).intersection(set(fr_n5_new))

In [14]:
eshterak_topn5_friendlist = list(eshterak_topn5_friendlist)
eshterak_topn5_friendlist

[2, 12, 5, 6]

In [15]:
eshterak_topn5_friendlist = np.abs(eshterak_topn5_friendlist)

In [16]:
len(eshterak_topn5_friendlist)

4

In [22]:
precission_n5 = len(eshterak_topn5_friendlist) / len(fr_n5_new)
precission_n5

0.8

In [23]:
recall_n5 = len(eshterak_topn5_friendlist) / len(friend_list_new)
recall_n5

0.05333333333333334

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [19]:
fr_n10_new = list(map(int,str(user_info['fr_n10_new'].values[0]).split(',')))
fr_n15_new = list(map(int,str(user_info['fr_n15_new'].values[0]).split(',')))
fr_n20_new = list(map(int,str(user_info['fr_n20_new'].values[0]).split(',')))

In [24]:
eshterak_topn10_friendlist = set(friend_list_new).intersection(set(fr_n10_new))

In [25]:
eshterak_topn10_friendlist = list(eshterak_topn10_friendlist)
eshterak_topn10_friendlist

[2, 3, 4, 5, 6, 12, 25, 29]

In [26]:
eshterak_topn10_friendlist = np.abs(eshterak_topn10_friendlist)

In [29]:
precission_n10 = len(eshterak_topn10_friendlist) / len(fr_n10_new)
precission_n10

0.8

In [30]:
recall_n10 = len(eshterak_topn10_friendlist) / len(friend_list_new)
recall_n10

0.10666666666666667

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [31]:
eshterak_topn15_friendlist = set(friend_list_new).intersection(set(fr_n15_new))

In [32]:
eshterak_topn15_friendlist = set(friend_list_new).intersection(set(fr_n15_new))

In [33]:
eshterak_topn15_friendlist = list(eshterak_topn15_friendlist)
eshterak_topn15_friendlist

[33, 2, 3, 4, 5, 6, 12, 92, 25, 60, 29]

In [34]:
eshterak_topn15_friendlist = np.abs(eshterak_topn15_friendlist)

In [35]:
precission_n15 = len(eshterak_topn15_friendlist) / len(fr_n15_new)
precission_n15

0.7333333333333333

In [36]:
recall_n15 = len(eshterak_topn15_friendlist) / len(friend_list_new)
recall_n15

0.14666666666666667

In [43]:
user_info['precission_n5'] = precission_n5
user_info['precission_n10'] = precission_n10
user_info['precission_n15'] = precission_n15
user_info['precission_n20'] = precission_n20

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
user_info['recall_n5']  = recall_n5
user_info['recall_n10']  = recall_n10
user_info['recall_n15']  = recall_n15
user_info['recall_n20']  = recall_n20

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [46]:
user_info = user_info.drop(columns=['fr_n5', 'fr_n10' , 'fr_n15' , 'fr_n20'])

In [47]:
user_info

,userid,friend_list,friend_list_new,fr_n5_new,fr_n10_new,fr_n15_new,fr_n20_new,precission_n5,precission_n10,precission_n15,precission_n20,recall_n5,recall_n10,recall_n15,recall_n20
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 617...","2, 5, 12, 110, 6","2, 5, 12, 110, 6, 29, 3, 25, 4, 77","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...",0.8,0.8,0.733333,0.65,0.053333,0.106667,0.146667,0.173333

In [48]:
user_info.to_csv('D://A_thesis/gowalla/out_random/precission_recall.csv')

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [22]:
friendshipdf_final = pd.read_csv('D://A_thesis/gowalla/out_random/friendship_df_without_threshold_new.csv')

In [23]:
# friendshipdf_final

In [24]:
del friendshipdf_final['Unnamed: 0']

In [25]:
pre_rec = pd.DataFrame()

In [26]:
user_info = friendshipdf_final.loc[friendshipdf_final['userid'] == 1]
user_info

,userid,friend_list,friend_list_new,fr_n5,fr_n5_new,fr_n10,fr_n10_new,fr_n15,fr_n15_new,fr_n20,fr_n20_new,fr_n25,fr_n30,fr_n35,fr_n40
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 617...","[2, 5, 12, 110, 6]","2, 5, 12, 110, 6","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77]","2, 5, 12, 110, 6, 29, 3, 25, 4, 77","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92..."

In [27]:
fr_n25_new = list(map(int,str(user_info['fr_n25'].values[0]).split(',')))
fr_n30_new = list(map(int,str(user_info['fr_n30'].values[0]).split(',')))
fr_n35_new = list(map(int,str(user_info['fr_n35'].values[0]).split(',')))
fr_n40_new = list(map(int,str(user_info['fr_n40'].values[0]).split(',')))

In [28]:
eshterak_topn25_friendlist = set(friend_list_new).intersection(set(fr_n25_new))

In [29]:
eshterak_topn25_friendlist = set(friend_list_new).intersection(set(fr_n25_new))

In [30]:
eshterak_topn25_friendlist = list(eshterak_topn25_friendlist)
eshterak_topn25_friendlist

[33, 2, 3, 4, 5, 6, 132, 12, 120, 92, 114, 24, 25, 60, 29]

In [31]:
eshterak_topn25_friendlist = np.abs(eshterak_topn25_friendlist)

In [32]:
precission_n25 = len(eshterak_topn25_friendlist) / len(fr_n25_new)
precission_n25

0.6

In [33]:
recall_n25 = len(eshterak_topn25_friendlist) / len(friend_list_new)
recall_n25

0.2

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [34]:
eshterak_topn30_friendlist = set(friend_list_new).intersection(set(fr_n30_new))

In [35]:
eshterak_topn30_friendlist = list(eshterak_topn30_friendlist)
eshterak_topn30_friendlist

[33, 2, 3, 4, 5, 6, 132, 107, 12, 120, 92, 114, 24, 25, 26, 60, 29, 62]

In [36]:
eshterak_topn30_friendlist = np.abs(eshterak_topn30_friendlist)

In [37]:
precission_n30 = len(eshterak_topn30_friendlist) / len(fr_n30_new)
precission_n30

0.6

In [38]:
recall_n30 = len(eshterak_topn30_friendlist) / len(friend_list_new)
recall_n30

0.24

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [39]:
eshterak_topn35_friendlist = set(friend_list_new).intersection(set(fr_n35_new))

In [40]:
eshterak_topn35_friendlist = list(eshterak_topn35_friendlist)
eshterak_topn35_friendlist

[2, 3, 4, 5, 6, 132, 12, 24, 25, 26, 29, 33, 60, 62, 92, 107, 238, 114, 120]

In [41]:
eshterak_topn35_friendlist = np.abs(eshterak_topn35_friendlist)

In [42]:
precission_n35 = len(eshterak_topn35_friendlist) / len(fr_n35_new)
precission_n35

0.5428571428571428

In [43]:
recall_n35 = len(eshterak_topn35_friendlist) / len(friend_list_new)
recall_n35

0.25333333333333335

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [44]:
eshterak_topn40_friendlist = set(friend_list_new).intersection(set(fr_n40_new))

In [45]:
eshterak_topn40_friendlist = list(eshterak_topn40_friendlist)
eshterak_topn40_friendlist

[2,
 3,
 4,
 5,
 6,
 132,
 12,
 24,
 25,
 26,
 29,
 33,
 60,
 62,
 198,
 92,
 107,
 238,
 114,
 120,
 2681]

In [46]:
eshterak_topn40_friendlist = np.abs(eshterak_topn40_friendlist)

In [47]:
precission_n40 = len(eshterak_topn40_friendlist) / len(fr_n40_new)
precission_n40

0.525

In [48]:
recall_n40 = len(eshterak_topn40_friendlist) / len(friend_list_new)
recall_n40

0.28

In [ ]:
                                *****************************************
                                *****************************************
                                *****************************************

In [49]:
user_info['precission_n25'] = precission_n25
user_info['precission_n30'] = precission_n30
user_info['precission_n35'] = precission_n35
user_info['precission_n40'] = precission_n40

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [51]:
user_info['recall_n25']  = recall_n25
user_info['recall_n30']  = recall_n30
user_info['recall_n35']  = recall_n35
user_info['recall_n40']  = recall_n40

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Lenovo\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [52]:
user_info

,userid,friend_list,friend_list_new,fr_n5,fr_n5_new,fr_n10,fr_n10_new,fr_n15,fr_n15_new,fr_n20,...,fr_n35,fr_n40,precission_n25,precission_n30,precission_n35,precission_n40,recall_n25,recall_n30,recall_n35,recall_n40
0,1,"[2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 61...","2, 3, 4, 5, 6, 12, 24, 25, 26, 28, 29, 33, 617...","[2, 5, 12, 110, 6]","2, 5, 12, 110, 6","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77]","2, 5, 12, 110, 6, 29, 3, 25, 4, 77","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","[2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 9...",...,"2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...","2, 5, 12, 110, 6, 29, 3, 25, 4, 77, 67, 33, 92...",0.6,0.6,0.542857,0.525,0.2,0.24,0.253333,0.28

In [53]:
user_info.to_csv('D://A_thesis/gowalla/out_random/second_idea/precission_recall.csv')
user_info.to_csv('D://A_thesis/gowalla/out_random/second_idea/precission_recall_weekday_weekend2.csv')